/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/

/*------------------------------ 1920 ------------------------------*/

@media (max-width: 1920px) {
	.ss {
		background-size: auto 100%;
	}
}


/*------------------------------ 1450 ------------------------------*/

@media (max-width: 1450px) {
	.cat {
		&__slider {
			margin: 0 auto;
			width: 1100px;
		}
	}
}

/*------------------------------ 1400 ------------------------------*/

@media (max-width: 1400px) {

	.ss {

		&__bg {
			// top: -20vh;

			img {
				width: 100%;
			}
		}

		&__img1 {
			left: -44vh;
		}

		&__img2 {
			top: 66vh;
			left: -35vh;
		}

		&__leaf-1 {
			left: -48vh;
		}

		&__img3 {
			right: -61vh;
		}

		&__leaf-5 {
			right: -7.1vh;
		}

		&__leaf-2 {
			left: -35vh;
		}

		&__leaf-3 {
			top: 37vh;
			right: -33vh;
		}

		&__leaf-4 {
			top: 80vh;
			right: -37vh;
		}
	}



	.cat {
		background-size: auto 100%;

		&__drop {
			top: -6vh;
			right: -5vh;
		}
	}

	.footer {
		background-size: auto 100%;
		background-position: center;
	}
}

/*------------------------------ 1350 ------------------------------*/

@media (max-width: 1350px) {

	.ss {
		&__img1 {
			top: 18vh;
			left: -37.7vh;

			img {
				width: 50vh;
			}
		}

		&__img2 {
			left: -35vh;
			top: 63vh;

			img {
				width: 34.4vh;
			}
		}

		&__img3 {
			top: 28vh;
			right: -50vh;

			img {
				width: 70.4vh;
			}
		}

		&__leaf-1 {
			top: 11vh;
			left: -45vh;
		}

		&__leaf-2 {
			top: 83vh;
			left: -43vh;
		}

		&__leaf-5 {
			top: 71.7vh;
			right: -9.1vh;
		}

		&_leaf-3 {
			top: 37vh;
			right: -29.8vh;
		}


		&__pelmen-1 {
			top: 24.8vh;
			right: -3.8vh;
		}

		&__pelmen-2 {
			top: 29.8vh;
			right: -15.8vh;
		}
	}
}


/*------------------------------ 1200 ------------------------------*/

@media (max-width: 1200px) {
	.cat {

		&__bg {
			top: -2vh;
		}

		&__drop {
			right: -4.5vh;
			top: 1.3vh;
		}

		&__slider {
			max-width: 900px;
		}

		&__slide {
			max-width: 300px;
		}

		&__slide-img {
			max-width: 300px;

			img {
				width: 100%;
			}
		}
	}

	.pop-up {
		&__slide {
			padding: 4.5vh 4.5vh 3.6vh 4.5vh;
		}
	}
}


/*------------------------------ 1100 ------------------------------*/

@media (max-width: 1100px) {
	.ms {
		&__img-left {
			left: -30vh;
		}
	}

	.pop-up {
		&__slide-image {
			img {
				width: 48.5vh;
			}
		}

	}

	.footer {
		&__inner {
			align-items: center;
		}

		padding-top: 150px;
		padding-bottom: 60px;

		&__img-1 {
			top: -230px;
			right: 240px;

			img {
				width: 323px;
			}
		}

		&__img-2 {
			top: 370px;
			left: 297px;

			img {
				width: 280px;
			}
		}

		&__inner {
			flex-direction: column;
		}

		&__column {
			margin-right: 0px;
			margin-bottom: 45px;

			&--first {
				display: flex;
				transform: translateX(35px);
				margin-bottom: 40px;

				.footer__list {
					// margin-right: 60px;
				}
			}
		}
	}
}

/*------------------------------ 1024 ------------------------------*/

@media (max-width: 1024px) {

	.text {
		font-size: 2.4vh;
	}

	.ms {
		&__heading {
			font-size: 5.8vh;

			span {
				font-size: 4.2vh;
			}
		}

	}

	.ss {

		&__bg {
			top: -10vh;
			bottom: -6vh;

			img {
				// width: auto;
			}
		}

		&__img1 {
			top: 21vh;
			left: -28.7vh;
		}

		&__img2 {
			left: -22vh;
			top: 71vh;
		}

		&__img3 {
			top: 31vh;
			right: -42vh;
		}

		&__leaf-2 {
			top: 83vh;
			left: -24vh;
		}

		&__leaf-5 {
			top: 71.7vh;
			right: -2.1vh;
		}
	}

	.sm {
		&__img-1 {
			top: 8vh;
			left: -29vh;

			img {
				width: 49vh;
			}
		}

		&__img-2,
		&__img-2-shadow {
			top: 13vh;
			right: -69.6vh;

			img {
				width: 88vh;
			}
		}

		&__img-3 {
			top: 50vh;
			left: -18vh;

			img {
				width: 34vh;
			}
		}

		&__drop-1 {

			top: 41vh;
			left: -20vh;


			img {
				width: 21vh;
			}
		}

		&__leaf-2 {
			top: 47vh;
			left: 4vh;
		}
	}

	.cat {

		&__slider {
			max-width: 750px;
		}

		&__slide {
			max-width: 250px;
		}

		&__slide-img {
			max-width: 250px;
		}

		&__arrows {
			top: 100px;
		}
	}

	.pop-up {

		&__slide-heading {
			@media (min-height: 1000px) {
				font-size: 2.9vh;
			}
		}

		&__slide-subtitle {
			font-size: 2.3vh;
		}

		&__slide-inner {
			width: 100%;
			display: block;
		}

		&__slide-top {
			display: flex;
			justify-content: center;
			margin-bottom: 10vh;
		}

		&__slide-body {
			max-width: 940px;
			width: 100%;
		}

		&__slide-content {
			max-width: 500px;
		}

		&__slide-info {
			max-width: 940px;

			@media (min-height: 1000px) {
				margin-bottom: 2.4vh;
			}
		}

		&__slide-image-box--normal {
			display: none;
		}

		&__slide-image-box--small {
			display: flex;
		}

		&__slide-image {
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 31.5vh;
			}
		}

		&__slide-text {
			@media (min-height: 1290px) {
				font-size: 1.7vh;
			}

			span {
				@media (min-height: 1290px) {
					font-size: 1.8vh;
				}
			}
		}

		&__slide-icon {
			img {
				@media (min-height: 1290px) {
					width: 7vh;
				}
			}
		}
	}

}

/*------------------------------ 880 ------------------------------*/

@media (max-width: 880px) {

	.pop-up {
		&__slide-info {
			margin-bottom: 7.4vh;
		}
	}
}

/*------------------------------ 840 ------------------------------*/

@media (max-width: 840px) {
	.hero {
		&__heading {
			img {
				width: 50vh;
			}
		}
	}

	.ss {
		&__logo {
			img {
				width: 55.6vh;
			}
		}

		&__img1 {
			top: 18vh;
			left: -19vh;

			img {
				width: 46.3vh;
			}
		}

		&__leaf-1 {
			top: 16vh;
			left: -14vh;

			img {
				width: 18.6vh;
			}
		}

		&__img2 {
			top: 73.7vh;
			left: -7vh;

			img {
				width: 27.8vh;
			}
		}

		&__img3 {
			top: 33vh;
			right: -39vh;

			img {
				width: 64.8vh;
			}
		}

		&__leaf-5 {
			top: 71vh;
			right: -1vh;

			img {
				width: 20.4vh;
			}
		}

		&__pelmen-1 {
			top: 24vh;
			right: 3vh;

			img {
				width: 8.7vh;
			}
		}

		&__pelmen-2 {
			top: 31vh;
			right: -7vh;

			img {
				width: 11.9vh;
			}
		}

		&__leaf-2 {
			top: 80.3vh;
			left: -7vh;

			img {
				width: 30.7vh;
			}
		}

		&__leaf-3 {
			img {
				width: 10.2vh;
			}

			right: -14vh;
		}

		&__leaf-4 {
			display: none;

		}
	}

	.sm {

		&__logo {
			img {
				width: 55.6vh;
			}
		}

		&__img-1 {
			top: 12vh;
			left: -28vh;

			img {
				width: 46vh;
			}
		}

		&__img-2,
		&__img-2-shadow {
			top: 24vh;
			right: -47.6vh;

			img {
				width: 70vh;
			}
		}

		&__img-3 {
			top: 55vh;
			left: -14vh;

			img {
				width: 32vh;
			}
		}

		&__leaf-2 {
			top: 49vh;
			left: 5vh;

			img {
				width: 24vh;
			}
		}

		&__leaf-3 {
			top: 7vh;
			right: 2vh;
		}
	}

	.cat {
		&__drop {
			top: 4.3vh;
			right: -12.7vh;
		}

		&__slider {
			max-width: 600px;
		}

		&__slide {
			max-width: 200px;
		}

		&__slide-img {
			margin-bottom: 30px;
		}

		&__slide-text {
			font-size: 17px;
		}

		&__arrow {
			img {
				width: 16px;
			}
		}
	}


}


/*------------------------------ 768 ------------------------------*/

@media (max-width: 768px) {
	.header {

		&__logo {
			&-rectangle {
				img {
					width: 30vh;
				}
			}

			&-text {
				img {
					width: 20vh;
				}
			}
		}

		&__inner {
			height: 122px;
		}

		&__menu {
			padding-top: 140px;
			padding-bottom: 80px;
		}

		&__menu-link {
			font-size: 45px;
		}

		&__menu-list {
			flex-basis: 400px;

		}
	}

	.ms {

		&__heading {
			transform: translate(-30px, 0);

			span {
				line-height: 1.2vh;
				transform: translate(0);
			}
		}

		&__img-left {
			top: 21vh;
			left: -13.5vh;
		}

		&__img1 {

			img {
				width: 40vh;
			}
		}

		&__img-right {
			top: 41vh;
			right: -34.5vh;
		}

		&__img2 {

			img {
				width: 70vh;
			}

		}

		&__drops1 {
			img {
				width: 5vh;
			}

			top: 60vh;
		}

		&__drops2 {
			top: 47vh;
			left: 29vh;

			img {
				width: 5vh;
			}
		}

		&__leaf-1 {
			display: none;
		}

		&__leaf-2 {
			position: absolute;
			top: -7vh;
			left: 21.8vh;

			img {
				width: 13vh;
			}
		}

		&__leaf-3 {
			display: none;
		}

		&__leaf-4 {
			position: absolute;
			top: -7.8vh;
			right: 41vh;

			img {
				width: 10.5vh;
			}

		}

		&__leaf-5 {
			position: absolute;
			top: 59vh;
			right: 73.8vh;
		}
	}

	.ss {
		&__logo {
			img {
				width: 44.6vh;
			}
		}
	}

	.sm {
		&__logo {
			img {
				width: 44.6vh;
			}
		}
	}

	.pop-up {
		&__slide-heading {
			font-size: 2.7vh;
		}

		&__slide-subtitle {
			font-size: 2.2vh;
		}

		&__slide-icon {
			img {
				width: 7vh;
			}
		}

		&__slide-image-box--small {
			width: 34vh;
		}

		&__slide-heading {
			line-height: 3.4vh;
			margin-bottom: 2.3vh;
		}
	}

}

/*------------------------------ 740 ------------------------------*/

@media (max-width: 740px) {
	.hero {
		&__bg {
			display: none;
		}
	}

	.sm {
		&__img-1 {
			top: 2vh;
			left: -17vh;
		}

		&__img-2,
		&__img-2-shadow {
			top: 19vh;
			right: -44.6vh;
		}

		&__img-3 {
			top: 42vh;
			left: -7vh;
		}

		&__drop-1 {
			top: 35vh;
			left: -10vh;
		}

		&__leaf-2 {
			top: 59vh;
			left: -7vh;
		}
	}

	.cat {

		&__slider {
			max-width: 350px;
		}

		&__slide {
			max-width: 350px;

			img {
				max-width: 350px;
			}
		}

		&__slide-img {
			max-width: 350px;
		}

		&__arrows {
			top: 135px;
		}

		&__arrow {
			img {
				width: 27px;
			}
		}

		&__dots {
			display: block;
			margin-top: 20px;
		}

		&__dots .slick-dots {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__dots li {
			margin-right: 12px;
		}

		&__dots li:last-child {
			margin-right: 0;
		}

		&__dots button {
			font-size: 0;
			background-color: transparent;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__dots button::before {
			content: "";
			height: 8px;
			width: 8px;
			background-color: #B3B7BC;
			border-radius: 50%;
		}

		&__dots .slick-active button::before {
			background-color: #424551;
			transition: all .3s;
		}
	}

	.pop-up {
		&__slide-top {
			margin-bottom: 10.4vh;
		}
	}


}


/*------------------------------ 650 ------------------------------*/

@media (max-width: 650px) {

	.ss {
		&__bg {
			top: -10vh;
			bottom: -6vh;

			img {
				width: auto;
			}
		}
	}

	.cat {
		&__bg {

			img {
				width: auto;
			}
		}

		&__drop {
			top: -1.7vh;
			right: -12.7vh;
		}

		&__pop-up {
			width: 400px;
		}



	}

	.pop-up {
		&__slide-text {
			font-size: 1.7vh;
			margin-bottom: 1vh;

			span {
				font-size: 2vh;
			}
		}

		&__slide-link {
			font-size: 1.6vh;
		}

		&__slide-arrow-text {
			font-size: 1.6vh;
		}
	}
}


/*------------------------------ 550 ------------------------------*/



@media (max-width: 550px) {

	.header {
		&__logo {
			&-rectangle {
				img {
					width: 25vh;
				}
			}

			&-text {
				img {
					width: 17vh;
				}
			}
		}

		&__button-box {
			top: 5vh;
		}
	}

	.text {
		font-size: 1.9vh;
	}

	.hero {
		&__heading {
			img {
				width: 40vh;
			}
		}
	}

	.ms {

		&__img-left {
			top: 26vh;
			left: -17.5vh;
		}

		&__leaf-2 {
			top: -9vh;
			left: 13.8vh;
		}

		&__img1 {
			img {
				width: 34vh;
			}
		}

		&__img2 {
			img {
				width: 60vh;
			}
		}

		&__drops1 {
			top: 53vh;
			left: -2vh;
		}

		&__drops2 {
			position: absolute;
			top: 40vh;
			left: 26vh;
		}

		&__leaf-4 {
			img {
				width: 10vh;
			}
		}
	}

	.ss {
		&__logo {
			img {
				width: 37vh;
			}
		}

		&__leaf-1 {
			top: 18vh;

			img {
				width: 15vh;
			}
		}

		&__img1 {
			top: 22vh;
			left: -20vh;

			img {
				width: 37vh;
			}
		}

		&__img2 {
			top: 54.7vh;
			left: -11.6vh;

			img {
				width: 20vh;
			}
		}

		&__img3 {
			top: 26vh;
			right: -37vh;

			img {
				width: 58vh;
			}
		}

		&__leaf-5 {
			top: 62vh;
			right: -2vh;

			img {
				width: 17vh;
			}
		}

		&__pelmen-1 {
			top: 25vh;
			right: 1vh;

			img {
				width: 6.7vh;
			}
		}

		&__pelmen-2 {
			top: 28vh;
			right: -7vh;

			img {
				width: 9.1vh;
			}
		}

		&__leaf-2 {
			top: 61vh;
			left: -11vh;

			img {
				width: 25vh;
			}
		}

		&__leaf-3 {
			top: 26vh;
			right: -7vh;

			img {
				width: 9vh;
			}
		}
	}

	.sm {
		&__logo {
			img {
				width: 37vh;
			}
		}

		&__img-1 {

			img {
				width: 34vh;
			}
		}

		&__img-2,
		&__img-2-shadow {
			top: 25vh;
			right: -44.6vh;

			img {
				width: 61.5vh;
			}
		}

		&__img-3 {
			top: 42vh;
			left: -7vh;

			img {
				width: 26.2vh;
			}
		}

		&__drop-1 {
			top: 38vh;
			left: -8vh;

			img {
				width: 16.3vh;
			}
		}
	}

	.cat {
		background-size: 400% 100%;
		background-position: -140px 0px;

		&__drop {
			top: 6.3vh;
			right: -2.7vh;

			img {
				width: 13vh;
			}
		}

		&__arrows {
			top: 155px;
		}

		&__arrow {
			img {
				width: 17px;
			}
		}
	}

	.pop-up {
		&__slide-top {
			flex-direction: column-reverse;

			margin-bottom: 6vh;
		}

		&__slide-image {
			img {
				width: 23.5vh;
			}
		}

		&__slide-content {
			max-width: 50vh;

		}

		&__slide-arrow {
			img {
				width: 8vh;
			}
		}

		&__slide-arrow-text {
			font-size: 1.3vh;
		}
	}
}


/*------------------------------ 500 ------------------------------*/



@media (max-width: 500px) {
	.header {


		&__button-text {
			display: none;
		}

		&__button-box {
			justify-content: end;
			min-width: 65px;
		}
	}

	.ms {
		&__heading {
			transform: translate(0);

			span {
				font-size: 3vh;
				transform: translate(0);
			}
		}

		&__logo {
			img {
				width: 33vh;
			}
		}
	}


}

/*------------------------------ 470 ------------------------------*/

@media (max-width: 470px) {
	.pop-up {
		&__slide-gost {
			font-size: 1.8vh;
		}

		&__slide-text {
			font-size: 1.3vh;

			span {
				font-size: 1.4vh;
			}
		}
	}
}


/*------------------------------ 430 ------------------------------*/


@media (max-width: 430px) {

	.logo {
		img {
			width: 35vh;
		}
	}

	.hero {
		&__heading {
			margin-bottom: 80px;

			img {
				width: 34vh;
			}
		}
	}


	.pop-up {
		&__slide {
			padding: 4.5vh 1.5vh 3.6vh 1.5vh;
		}

		&__slide-heading {
			line-height: 3.4vh;
			margin-bottom: 0.8vh;
		}

		&__slide-arrow-text {
			margin-right: 10px;
			font-size: 1vh;
		}

		&__slide-arrow-icon {
			margin-right: 10px;

			img {
				width: 6vh;
			}
		}
	}

	.footer {
		padding-bottom: 15px;

		&__socials-list {
			margin-bottom: 0;
		}

		&__img-1 {
			top: -23vh;
			right: 0vh;
		}

		&__img-2 {
			top: 35vh;
			left: -3vh;
		}
	}
}


/*------------------------------ 400 ------------------------------*/


@media (max-width: 400px) {
	.header {

		&__logo {
			&-rectangle {
				img {
					width: 20vh;
				}
			}

			&-text {
				img {
					width: 10vh;
				}
			}
		}

		&__button-box {
			justify-content: end;
			min-width: 50px;
			top: 3vh;
		}


		&__inner {
			height: 65px;
		}

		&__menu {

			padding-top: 80px;

		}

		&__menu-item {
			margin-bottom: 20px;
		}

		&__menu-link {
			font-size: 30px;
			font-weight: 400;
		}
	}

	.burger {
		width: 50px;

		&--open {
			.burger__line:first-child {
				width: 60px;

			}

			.burger__line:last-child {
				width: 60px;
			}
		}
	}

	.logo {

		img {
			width: 25vh;
		}
	}

	.hero {
		&__heading {
			img {
				width: 300px;
			}
		}
	}

	.ms {

		&__heading {
			font-size: 3.7vh;

			span {
				font-size: 2.2vh;
			}
		}

		&__img-left {
			top: 32vh;
			left: -11.9vh;
		}

		&__img1 {
			img {
				width: 23vh;
			}
		}

		&__img-right {
			top: 51vh;
			right: -23.6vh;
		}

		&__img2 {

			img {
				width: 42.2vh;
			}
		}

		&__leaf-2 {
			top: -7vh;
			left: 8.8vh;

			img {
				width: 9.4vh;
			}
		}

		&__leaf-4 {
			img {
				width: 6vh;
			}

			top: -14.8vh;
			right: 22vh;
		}

		&__drops2 {
			position: absolute;
			top: 30vh;
			left: 17vh;


			img {
				width: 4vh;
			}
		}


	}

	.ss {

		&__stamp {
			&-outline {
				img {
					width: 10.7vh;
				}
			}

			&-border {
				img {
					width: 9.6vh;
				}
			}

			&-content {
				top: -4.6vh;
				left: -4.4vh;

				img {
					width: 7vh;
				}
			}

			&-text {
				top: -2.1vh;
				left: -3.5vh;

				img {
					width: 7.84vh;
				}
			}
		}


		&__leaf-1 {
			top: 19vh;
			left: -11vh;

			img {
				width: 12.1vh;
			}
		}

		&__img1 {
			top: 24vh;
			left: -13vh;

			img {
				width: 25vh;
			}
		}

		&__img2 {
			top: 48vh;
			left: -10vh;
		}

		&__img3 {
			top: 31vh;
			right: -26vh;

			img {
				width: 41vh;
			}
		}

		&__leaf-5 {
			top: 56vh;
			right: -1vh;

			img {
				width: 10.6vh;
			}
		}

		&__pelmen-1 {
			top: 21vh;
			right: 1vh;

			img {
				width: 4.6vh;
			}
		}

		&__pelmen-2 {
			top: 23vh;
			right: -5vh;

			img {
				width: 5.8vh;
			}
		}

		&__leaf-2 {
			top: 62vh;
			left: -14vh;

			img {
				width: 22.1vh;
			}
		}
	}

	.sm {

		&__stamp {
			&-outline {
				img {
					width: 10.7vh;
				}
			}

			&-border {
				img {
					width: 9.6vh;
				}
			}

			&-content {
				top: -4.6vh;
				left: -4.4vh;

				img {
					width: 7vh;
				}
			}

			&-text {
				top: -2.9vh;
				left: -3.7vh;

				img {
					width: 7.84vh;
				}
			}
		}

		&__img-1 {
			top: 15vh;
			left: -10vh;

			img {
				width: 21.4vh;

			}
		}

		&__img-2,
		&__img-2-shadow {
			top: 28vh;
			right: -30.6vh;

			img {
				width: 43vh;
			}
		}

		&__img-3 {
			top: 44vh;
			left: -6vh;

			img {
				width: 18.4vh;
			}
		}

		&__drop-1 {
			top: 40vh;
			left: -6vh;

			img {
				width: 10.2vh;
			}
		}

		&__leaf-2 {
			top: 56vh;
			left: -5vh;

			img {
				width: 9.9vh;
			}
		}

		&__leaf-3 {
			top: 16vh;
			right: 2vh;

			img {
				width: 9.2vh;
			}
		}

		&__leaf-4 {
			top: 61vh;
			right: -8vh;

			img {
				width: 13.2vh;
			}
		}

	}

	.cat {
		&__slider {
			max-width: 300px;
		}

		&__slide {
			max-width: 300px;
		}

		&__arrows {
			top: 138px;
		}

		&__arrow {
			img {
				width: 12px;
			}

			&-prev {
				left: -14px;
			}

			&-next {
				right: -14px;
			}
		}
	}

	.footer {

		&__list-link {
			font-size: 15px;
		}

		&__column-phone {
			font-size: 28px;
		}

		&__column-text-small {
			font-size: 15px;
		}


		&__img-1 {
			top: -182px;
			right: 42px;

			img {
				width: 220px;
			}
		}

		&__img-2 {
			top: 375px;
			left: -23px;

			img {
				width: 170px;
			}
		}

	}
}


// /*==================================== HEIGHT ====================================*/


// /*------------------------------ 675 ------------------------------*/

@media (max-height: 675px) {
	.header {
		&__menu-list {
			margin-bottom: 30px;
		}

		&__menu-item {
			margin-bottom: 20px;
		}

		&__menu-link {
			font-size: 30px;
		}
	}
}

@media (max-height: 480px) {
	.header {
		&__menu {
			padding-top: 180px;
		}

		&__menu-list {
			margin-bottom: 20px;
		}

		&__menu-link {
			font-size: 20px;
			font-weight: 500;
		}
	}
}