/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/



/*------------------------------ 1920 ------------------------------*/

@media (min-width: 1920px) {
	.cat {
		&__bg {
			position: absolute;
			z-index: 0;
			top: -3.9dvh;
			bottom: -10.3dvh;
			right: 0;
			left: 0;
			width: 100vw;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

/*------------------------------ 1920 ------------------------------*/

@media (max-width: 1920px) {
	.ss {
		background-size: auto 100%;
	}
}


/*------------------------------ 1630 ------------------------------*/

@media (max-width: 1630px) {
	.cat {
		&__bg {
			top: 7.3dvh;
		}
	}
}

/*------------------------------ 1450 ------------------------------*/

@media (max-width: 1450px) {
	.cat {
		&__slider {
			margin: 0 auto;
			width: 1100px;
		}
	}
}

/*------------------------------ 1400 ------------------------------*/

@media (max-width: 1400px) {

	.ss {

		&__bg {

			img {
				width: 100%;
			}
		}

		&__img1 {
			left: -44dvh;
		}

		&__img2 {
			top: 66dvh;
			left: -35dvh;
		}

		&__leaf-1 {
			left: -48dvh;
		}

		&__img3 {
			right: -61dvh;
		}

		&__leaf-5 {
			right: -7.1dvh;
		}

		&__leaf-2 {
			left: -35dvh;
		}

		&__leaf-3 {
			top: 37dvh;
			right: -33dvh;
		}

		&__leaf-4 {
			top: 80dvh;
			right: -37dvh;
		}
	}



	.cat {
		background-size: auto 100%;
	}

	.footer {
		background-size: auto 100%;
		background-position: center;
	}
}

/*------------------------------ 1350 ------------------------------*/

@media (max-width: 1350px) {

	.ss {
		&__img1 {
			top: 18dvh;
			left: -37.7dvh;

			img {
				width: 50dvh;
			}
		}

		&__img2 {
			left: -35dvh;
			top: 63dvh;

			img {
				width: 34.4dvh;
			}
		}

		&__img3 {
			top: 28dvh;
			right: -50dvh;

			img {
				width: 70.4dvh;
			}
		}

		&__leaf-1 {
			top: 11dvh;
			left: -45dvh;
		}

		&__leaf-2 {
			top: 83dvh;
			left: -43dvh;
		}

		&__leaf-5 {
			top: 71.7dvh;
			right: -9.1dvh;
		}

		&_leaf-3 {
			top: 37dvh;
			right: -29.8dvh;
		}


		&__pelmen-1 {
			top: 24.8dvh;
			right: -3.8dvh;
		}

		&__pelmen-2 {
			top: 29.8dvh;
			right: -15.8dvh;
		}
	}
}


/*------------------------------ 1210 ------------------------------*/

@media (max-width: 1210px) {
	.cat {
		&__bg2 {
			background: linear-gradient(#3996BC 46dvh, #fff 20dvh);
		}
	}
}

/*------------------------------ 1200 ------------------------------*/

@media (max-width: 1200px) {
	.cat {

		&__slider {
			max-width: 900px;
		}

		&__slide {
			max-width: 300px;
		}

		&__slide-img {
			max-width: 300px;

			img {
				width: 100%;
			}
		}
	}

	.pop-up {
		&__slide {
			// padding: clamp(1px, 7.6dvh, 63px) clamp(10px, 2dvh, 104px) clamp(1px, 4dvh, 63px) clamp(10px, 2dvh, 104px);

		}

		&__slide-image-arrow {

			img {
				width: 2dvh;
			}

		}
	}
}

/*------------------------------ 1150 ------------------------------*/

@media (max-width: 1150px) {
	.pop-up {

		&__slide-image-box {
			width: 40dvh;
			max-width: 40vw;
		}

		&__slide-image {
			width: 40dvh;
			max-width: 40vw;

			img {
				width: 40dvh;
				max-width: 40vw;
			}
		}

		&__slide-image-arrows {}

		&__slide-image-arrow {

			img {
				width: 2dvh;
			}

			&--prev {
				left: 0px;
			}

			&--next {
				right: 0px;
			}

		}

		&__slide-weight {
			margin-top: 4dvh;
		}

		&__slide-heading {
			@media (min-height: 1000px) {
				font-size: 2.9dvh;
			}
		}

		&__slide-subtitle {
			font-size: 2.3dvh;
		}

		&__slide-inner {
			width: 100%;
			// display: block;
			grid-template-areas: "image top"
				"info info";
		}

		&__slide-top {
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			margin-bottom: 2dvh;
			width: 60dvh;
		}

		&__slide-content {
			max-width: 500px;
		}

		&__slide-info {
			max-width: none;

			@media (min-height: 1000px) {
				margin-bottom: 2.4dvh;
			}
		}

		&__slide-image {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1 1 48.5dvh;
		}

		&__slide-text {
			@media (min-height: 1290px) {
				font-size: 1.7dvh;
			}

			span {
				@media (min-height: 1290px) {
					font-size: 1.8dvh;
				}
			}
		}

		&__slide-icon {
			// img {
			// 	@media (min-height: 1290px) {
			// 		width: 7dvh;
			// 	}
			// }

			&-text {
				font-size: clamp(1px, 1.5dvh, 16px);

				span {
					font-size: clamp(1px, 1.5dvh, 16px);
				}
			}

		}

		&__slide-animals {
			margin-left: 0;

			.pop-up__slide-icon {
				margin-right: 2dvh;
			}
		}
	}
}

/*------------------------------ 1100 ------------------------------*/

@media (max-width: 1100px) {
	.ms {
		&__img-left {
			left: -30dvh;
		}
	}

	.pop-up {
		&__slide-image {
			// width: 48.5dvh;
			margin: 0 auto;

			img {
				// width: 48.5dvh;
			}
		}

		&__slide-image-box {
			// width: 50dvh;
			// margin-right: 3dvh;
		}

		&__slide-image-arrow {

			img {
				width: 2dvh;
			}

		}

	}

	.footer {
		&__inner {
			align-items: center;
		}

		padding-top: 150px;
		padding-bottom: 60px;

		&__img-1 {
			top: -150px;
			right: 340px;

			img {
				width: 323px;
			}
		}

		&__img-2 {
			top: 288px;
			left: 217px;

			img {
				width: 280px;
			}
		}

		&__inner {
			flex-direction: column;
		}

		&__column {
			margin-right: 0px;
			margin-bottom: 45px;

			&--first {
				display: flex;
				transform: translateX(35px);
				margin-bottom: 40px;
			}

			&--last {
				margin-bottom: 0;
			}
		}
	}
}

/*------------------------------ 1024 ------------------------------*/

@media (max-width: 1024px) {

	.ms {
		&__heading {
			font-size: 6.9dvh;
		}
	}

	.ss {

		&__bg {
			top: -10dvh;
			bottom: -6dvh;
		}

		&__img1 {
			top: 21dvh;
			left: -28.7dvh;
		}

		&__img2 {
			left: -22dvh;
			top: 71dvh;
		}

		&__img3 {
			top: 31dvh;
			right: -42dvh;
		}

		&__leaf-2 {
			top: 83dvh;
			left: -24dvh;
		}

		&__leaf-5 {
			top: 71.7dvh;
			right: -2.1dvh;
		}
	}

	.sm {
		&__img-1 {
			top: 8dvh;
			left: -29dvh;

			img {
				width: 49dvh;
			}
		}

		&__img-2,
		&__img-2-shadow {
			top: 13dvh;
			right: -69.6dvh;

			img {
				width: 88dvh;
			}
		}

		&__img-3 {
			top: 52dvh;
			left: -21dvh;

			img {
				width: 34dvh;
			}
		}

		&__drop-1 {

			top: 41dvh;
			left: -20dvh;


			img {
				width: 21dvh;
			}
		}

		&__leaf-2 {
			top: 51dvh;
			left: 2dvh;
		}
	}

	.cat {

		&__slider {
			max-width: 750px;
		}

		&__slide {
			max-width: 250px;
		}

		&__slide-img {
			max-width: 250px;
		}

		&__arrows {
			top: 100px;
		}
	}


}

/*------------------------------ 940 ------------------------------*/

@media (max-width: 940px) {
	.pop-up {
		&__slide-icon-text {
			font-size: clamp(1px, 1.6dvh, 16px);

			span {
				font-size: clamp(1px, 1.4dvh, 18px);
			}
		}
	}
}

/*------------------------------ 840 ------------------------------*/

@media (max-width: 840px) {
	.hero {
		&__heading {
			img {
				width: 50dvh;
			}
		}
	}

	.ss {
		&__logo {
			img {
				width: 55.6dvh;
			}
		}

		&__img1 {
			top: 18dvh;
			left: -19dvh;

			img {
				width: 46.3dvh;
			}
		}

		&__leaf-1 {
			top: 16dvh;
			left: -14dvh;

			img {
				width: 18.6dvh;
			}
		}

		&__img2 {
			top: 73.7dvh;
			left: -7dvh;

			img {
				width: 27.8dvh;
			}
		}

		&__img3 {
			top: 33dvh;
			right: -39dvh;

			img {
				width: 64.8dvh;
			}
		}

		&__leaf-5 {
			top: 71dvh;
			right: -1dvh;

			img {
				width: 20.4dvh;
			}
		}

		&__pelmen-1 {
			top: 24dvh;
			right: 3dvh;

			img {
				width: 8.7dvh;
			}
		}

		&__pelmen-2 {
			top: 31dvh;
			right: -7dvh;

			img {
				width: 11.9dvh;
			}
		}

		&__leaf-2 {
			top: 80.3dvh;
			left: -7dvh;

			img {
				width: 30.7dvh;
			}
		}

		&__leaf-3 {
			img {
				width: 10.2dvh;
			}

			right: -14dvh;
		}

		&__leaf-4 {
			display: none;

		}
	}

	.sm {
		&__inner {
			padding-top: 12.5dvh;
			max-width: 55.6dvh;
		}

		&__logo {
			img {
				width: 55.6dvh;
			}
		}

		&__img-1 {
			top: 6dvh;
			left: -27dvh;

			img {
				width: 46dvh;
			}
		}

		&__img-2,
		&__img-2-shadow {
			top: 17dvh;
			right: -46.6dvh;

			img {
				width: 70dvh;
			}
		}

		&__img-3 {
			top: 55dvh;
			left: -14dvh;

			img {
				width: 32dvh;
			}
		}

		&__leaf-2 {
			top: 49dvh;
			left: 5dvh;

			img {
				width: 24dvh;
			}
		}

		&__leaf-3 {
			top: 7dvh;
			right: 2dvh;
		}
	}

	.cat {

		&__slider {
			max-width: 600px;
		}

		&__slide {
			max-width: 200px;
		}

		&__slide-img {
			margin-bottom: 30px;
		}

		&__slide-text {
			font-size: 17px;
		}

		&__arrow {
			img {
				width: 16px;
			}
		}
	}

	.pop-up {
		&__slide-image {
			img {
				width: 35.5dvh;
			}
		}
	}
}

/*------------------------------ 768 ------------------------------*/

@media (max-width: 768px) {
	.header {

		&__logo {
			&-rectangle {
				img {
					width: 30dvh;
				}
			}

			&-text {
				img {
					width: 20dvh;
				}
			}
		}

		&__inner {
			height: 122px;
		}

		&__menu {
			padding-top: 16dvh;
			padding-bottom: 18dvh;
		}

		&__menu-link {
			font-size: 45px;
		}

		&__menu-list {
			flex-basis: 400px;

		}
	}

	.ms {

		&__heading {
			transform: translate(-30px, 0);

			span {
				transform: translate(0);
			}
		}

		&__img-left {
			top: 21dvh;
			left: -13.5dvh;
		}

		&__img1 {

			img {
				width: 40dvh;
			}
		}

		&__img-right {
			top: 41dvh;
			right: -34.5dvh;
		}

		&__img2 {

			img {
				width: 70dvh;
			}

		}

		&__drops1 {
			img {
				width: 5dvh;
			}

			top: 60dvh;
		}

		&__drops2 {
			top: 47dvh;
			left: 29dvh;

			img {
				width: 5dvh;
			}
		}

		&__leaf-1 {
			display: none;
		}

		&__leaf-2 {
			position: absolute;
			top: -7dvh;
			left: 21.8dvh;

			img {
				width: 13dvh;
			}
		}

		&__leaf-3 {
			display: none;
		}

		&__leaf-4 {
			position: absolute;
			top: -7.8dvh;
			right: 41dvh;

			img {
				width: 10.5dvh;
			}

		}

		&__leaf-5 {
			position: absolute;
			top: 59dvh;
			right: 73.8dvh;
		}
	}

	.ss {
		&__logo {
			img {
				width: 44.6dvh;
			}
		}
	}

	.sm {
		&__logo {
			img {
				width: 44.6dvh;
			}
		}
	}

	.pop-up {
		&__slide-heading {
			font-size: 2.7dvh;
			line-height: 3.4dvh;
			margin-bottom: 1dvh;
		}

		&__slide-subtitle {
			font-size: 2.2dvh;
		}

		&__slide-icon {
			img {
				max-width: 9dvh;
			}

			&--weight {
				img {
					width: 100%;
					max-width: 12dvh;
				}
			}

			&-text {
				font-size: 1.4dvh;

				span {
					font-size: 1.3dvh;
				}
			}
		}

		&__slide-image-box {
			width: 35dvh;
		}

		&__slide-image {
			width: 35dvh;
			margin: 0 auto;

			img {
				width: 35dvh;
			}
		}

		&__slide-image-arrow {

			img {
				width: 1dvh;
			}

		}

		&__slide-weight {
			margin-top: 2.5dvh;
			font-size: 2.3dvh;
		}

	}

}

/*------------------------------ 740 ------------------------------*/

@media (max-width: 740px) {
	.hero {
		&__bg {
			display: none;
		}
	}

	.sm {
		&__img-1 {
			top: 2dvh;
			left: -17dvh;
		}

		&__img-2,
		&__img-2-shadow {
			top: 19dvh;
			right: -44.6dvh;
		}

		&__img-3 {
			top: 42dvh;
			left: -7dvh;
		}

		&__drop-1 {
			top: 35dvh;
			left: -10dvh;
		}

		&__leaf-2 {
			top: 59dvh;
			left: -7dvh;
		}
	}

	.cat {

		&__slider {
			max-width: 350px;
		}

		&__slide {
			max-width: 350px;

			img {
				max-width: 350px;
			}
		}

		&__slide-img {
			max-width: 350px;
		}

		&__arrows {
			top: 135px;
		}

		&__arrow {
			img {
				width: 27px;
			}
		}

		&__dots {
			display: block;
			margin-top: 20px;
		}

		&__dots .slick-dots {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__dots li {
			margin-right: 12px;
		}

		&__dots li:last-child {
			margin-right: 0;
		}

		&__dots button {
			font-size: 0;
			background-color: transparent;
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__dots button::before {
			content: "";
			height: 8px;
			width: 8px;
			background-color: #B3B7BC;
			border-radius: 50%;
		}

		&__dots .slick-active button::before {
			background-color: #424551;
			transition: all .3s;
		}
	}
}

/*------------------------------ 650 ------------------------------*/

@media (max-width: 650px) {

	.ss {
		&__bg {
			top: -10dvh;
			bottom: -6dvh;

			img {
				width: auto;
			}
		}
	}

	.cat {

		&__pop-up {
			width: 400px;
		}
	}

	.pop-up {

		&__slide-bg {
			bottom: 0;

			img {
				width: 180vw;
			}
		}

		&__slide-branch {
			bottom: -4dvh;

			img {
				width: 26dvh;
			}
		}

		&__slide-text {
			font-size: 1.7dvh;

			span {
				font-size: 2dvh;
			}
		}

		&__slide-link {
			font-size: 1.6dvh;
		}

		&__slide-close {
			&-line {
				width: 30px;
			}
		}

		&__slide-inner {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			margin-top: 5dvh;
		}

		&__slide-top {
			order: 2;
			margin-bottom: 0;
			width: auto;
			max-width: none;
		}

		&__slide-back {
			position: absolute;
			width: 100%;
			top: -7dvh;
		}

		&__slide-info {
			order: 3;
		}

		&__slide-image {
			width: 40dvh;
			max-width: none;

			&-box {
				max-width: none;
				width: 40dvh;
				margin: 0 auto;
				margin-bottom: 2dvh;
			}

			img {
				width: 40dvh;
				max-width: none;
			}
		}

		&__slide-image-box-inner {
			order: 1;
			margin-right: 0;
			flex: 1 1 auto;
		}

		&__slide-content {
			margin-bottom: 0;
			max-width: none;
		}

		&__slide-icons {
			margin-bottom: 1dvh;
		}

		&__slide-animals {
			.pop-up__slide-icon {
				img {
					max-width: 5.6dvh;
				}
			}
		}

		&__slide-icon--weight {
			img {
				max-width: 8dvh;
			}
		}

		&__slide-arrow {
			img {
				width: 8dvh;
			}
		}

		&__slide-arrow-text {
			font-size: 1.3dvh;
		}

		&__slide-icon-text {
			font-size: 1dvh;
			margin-top: 3.5dvh;

			span {
				font-size: 0.8dvh;
				line-height: 2dvh;
			}
		}

		&__slide-image-arrow {
			img {
				width: 2.4dvh;
			}
		}
	}
}

/*------------------------------ 550 ------------------------------*/


@media (max-width: 550px) {

	.logo {
		img {
			width: 35.6dvh;
		}
	}

	.header {
		&__logo {
			&-rectangle {
				img {
					width: 25dvh;
				}
			}

			&-text {
				img {
					width: 17dvh;
				}
			}
		}

		&__button-box {
			top: 5dvh;
		}
	}

	.hero {
		&__heading {
			img {
				width: 40dvh;
			}
		}
	}

	.ms {

		&__img-left {
			top: 26dvh;
			left: -17.5dvh;
		}

		&__leaf-2 {
			top: -9dvh;
			left: 13.8dvh;
		}

		&__img1 {
			img {
				width: 34dvh;
			}
		}

		&__img-right {
			top: 52dvh;
			right: -32.5dvh;
		}

		&__img2 {

			img {
				width: 60dvh;
			}
		}

		&__drops1 {
			top: 53dvh;
			left: -2dvh;
		}

		&__drops2 {
			position: absolute;
			top: 40dvh;
			left: 26dvh;
		}

		&__leaf-4 {
			top: -10.8dvh;
			right: 34dvh;

			img {
				width: 10dvh;
			}
		}
	}

	.ss {

		&__leaf-1 {
			top: 18dvh;

			img {
				width: 15dvh;
			}
		}

		&__img1 {
			top: 22dvh;
			left: -20dvh;

			img {
				width: 37dvh;
			}
		}

		&__img2 {
			top: 54.7dvh;
			left: -11.6dvh;

			img {
				width: 20dvh;
			}
		}

		&__img3 {
			top: 26dvh;
			right: -37dvh;

			img {
				width: 58dvh;
			}
		}

		&__leaf-5 {
			top: 62dvh;
			right: -2dvh;

			img {
				width: 17dvh;
			}
		}

		&__pelmen-1 {
			top: 25dvh;
			right: 1dvh;

			img {
				width: 6.7dvh;
			}
		}

		&__pelmen-2 {
			top: 28dvh;
			right: -7dvh;

			img {
				width: 9.1dvh;
			}
		}

		&__leaf-2 {
			top: 61dvh;
			left: -11dvh;

			img {
				width: 25dvh;
			}
		}

		&__leaf-3 {
			top: 26dvh;
			right: -7dvh;

			img {
				width: 9dvh;
			}
		}
	}

	.sm {
		&__logo {
			img {
				width: 37dvh;
			}
		}

		&__img-1 {
			top: 7dvh;
			left: -12dvh;

			img {
				width: 34dvh;
			}
		}

		&__img-2,
		&__img-2-shadow {
			top: 18dvh;
			right: -40.6dvh;

			img {
				width: 61.5dvh;
			}
		}

		&__img-3 {
			top: 42dvh;
			left: -7dvh;

			img {
				width: 26.2dvh;
			}
		}

		&__drop-1 {
			top: 38dvh;
			left: -8dvh;

			img {
				width: 16.3dvh;
			}
		}
	}

	.cat {
		background-size: 400% 100%;
		background-position: -140px 0px;

		&__arrows {
			top: 155px;
		}

		&__arrow {
			img {
				width: 17px;
			}
		}
	}


}

/*------------------------------ 500 ------------------------------*/

@media (max-width: 500px) {
	.header {

		&__button-text {
			display: none;
		}

		&__button-box {
			justify-content: end;
			min-width: 65px;
		}
	}

	.ms {
		&__heading {
			transform: translate(0);

			span {
				font-size: 4.2dvh;
				transform: translate(0);
			}
		}
	}

	.cat {
		&__bg2 {
			background: linear-gradient(#3996BC 41dvh, #fff 20dvh);
		}
	}

}

/*------------------------------ 470 ------------------------------*/

@media (max-width: 470px) {
	.pop-up {

		&__slide {
			padding-top: 3.5dvh;
		}

		&__slide-gost {
			font-size: 1.8dvh;
		}

		&__slide-text {
			font-size: 1.3dvh;

			span {
				font-size: 1.4dvh;
			}
		}

		&__slide-arrow-text {
			font-size: 1dvh;
		}
	}
}


/*------------------------------ 430 ------------------------------*/


@media (max-width: 430px) {

	.logo {
		img {
			// width: 35dvh;
		}
	}

	.hero {
		&__heading {
			margin-bottom: 80px;

			img {
				width: 34dvh;
			}
		}
	}

	.cat {
		&__bg {
			top: 4.3dvh;

			&-desktop {
				display: none;
			}

			&-mob {
				display: block;
			}
		}

		&__bg2 {
			background: linear-gradient(#3996BC 57dvh, #fff 20dvh);
		}
	}

	.pop-up {
		&__slide {
			padding-right: 1.5dvh;
			padding-left: 1.5dvh;
		}

		&__slide-heading {
			line-height: 3.4dvh;
			margin-bottom: 0.8dvh;
		}

		&__slide-arrow-text {
			margin-right: 10px;
			font-size: 1dvh;
		}

		&__slide-arrow-icon {
			margin-right: 10px;

			img {
				width: 6dvh;
			}
		}

		&__slide-image {

			&-box {
				margin: 0 auto;
				margin-bottom: 2dvh;
			}

			img {}
		}
	}

	.footer {
		padding-bottom: 15px;

		&__socials-list {
			margin-bottom: 0;
		}

		&__img-1 {
			top: -16dvh;
			right: 0dvh;
		}

		&__img-2 {
			top: 35dvh;
			left: -3dvh;
		}
	}
}


/*------------------------------ 400 ------------------------------*/


@media (max-width: 400px) {

	.text {
		font-size: clamp(10px, 3.15dvh, 18px);
	}

	.header {

		&__logo {
			&-rectangle {
				img {
					width: 20dvh;
				}
			}

			&-text {
				img {
					width: 10dvh;
				}
			}
		}

		&__button-box {
			justify-content: end;
			min-width: 50px;
			top: 3dvh;
		}


		&__inner {
			height: 65px;
		}

		&__menu {
			padding-top: 12dvh;
		}

		&__menu-item {
			margin-bottom: 20px;
		}

		&__menu-link {
			font-size: 30px;
			font-weight: 400;
		}
	}

	.burger {
		width: 50px;

		&--open {
			.burger__line:first-child {
				width: 60px;

			}

			.burger__line:last-child {
				width: 60px;
			}
		}
	}

	.hero {
		&__heading {
			img {
				width: 300px;
			}
		}
	}

	.ms {

		&__heading {
			font-size: clamp(18px, 6.9dvh, 40px);

			span {
				font-size: clamp(16px, 4.2dvh, 24px);
			}
		}

		&__logo {
			img {
				width: 43.8dvh;
				max-width: 250px;
			}
		}


		&__img-left {
			top: 26dvh;
			left: -20.9dvh;
		}

		&__img1 {
			img {
				width: 40.5dvh;
				max-width: 231px;
			}
		}

		&__img-right {
			top: 53dvh;
			right: -34 .6dvh;
		}

		&__img2 {
			img {
				width: 72.9dvh;
				max-width: 416px;
			}
		}

		&__leaf-2 {
			top: -8dvh;
			left: 17.8dvh;

			img {
				width: 10.7dvh;
			}
		}

		&__leaf-4 {
			right: 39dvh;
			top: -13.8dvh;

			img {
				width: 7.9dvh;
			}
		}

		&__drops2 {
			position: absolute;
			top: 47dvh;
			left: 34dvh;


			img {
				width: 4dvh;
			}
		}
	}

	.ss {

		&__inner {
			padding-bottom: 0;
		}

		&__logo {
			img {
				width: 48.8dvh;
				max-width: 278px;
			}
		}

		&__leaf-1 {
			top: 6.2dvh;
			left: -18dvh;

			img {
				width: 23.3dvh;
				max-width: 134px;
			}
		}

		&__img1 {
			top: 21.7dvh;
			left: -25dvh;

			img {
				width: 47.4dvh;
				max-width: 350px;
			}
		}

		&__img2 {
			top: 63dvh;
			left: -18.5dvh;

			img {
				width: 30.6dvh;
				max-width: 230px;
			}
		}

		&__img3 {
			top: 26dvh;
			right: -47.3dvh;

			img {
				width: 77.6dvh;
				max-width: 590px;
			}
		}

		&__leaf-5 {
			top: 70dvh;
			right: 0dvh;

			img {
				width: 20dvh;
				max-width: 115px;
			}
		}

		&__pelmen-1 {
			top: 15dvh;
			right: 6dvh;

			img {
				width: 8.6dvh;
				max-width: 50px;
			}
		}

		&__pelmen-2 {
			top: 20dvh;
			right: -5dvh;

			img {
				width: 10.9dvh;
				max-width: 63px;
			}
		}

		&__leaf-2 {
			top: 86dvh;
			left: -29dvh;

			img {
				width: 42.1dvh;
				max-width: 240px;
			}
		}

		&__leaf-3 {
			top: 24dvh;
			right: -8dvh;

			img {
				width: 13.4dvh;
			}
		}
	}

	.sm {
		&__inner {
			padding-bottom: 0;
		}

		// &__stamp {
		// 	&-outline {
		// 		img {
		// 			width: 10.7dvh;
		// 		}
		// 	}

		// 	&-border {
		// 		img {
		// 			width: 10dvh;
		// 		}
		// 	}

		// 	&-content {
		// 		top: -4.6dvh;
		// 		left: -4.4dvh;

		// 		img {
		// 			width: 7dvh;
		// 		}
		// 	}

		// 	&-text {
		// 		top: -2.9dvh;
		// 		left: -3.7dvh;

		// 		img {
		// 			width: 7.84dvh;
		// 		}
		// 	}
		// }

		&__logo img {
			width: 48.8dvh;
			max-width: 279px;
		}

		&__img-1 {
			top: 6.5dvh;
			left: -18.9dvh;

			img {
				width: 40.6dvh;

			}
		}

		&__img-2,
		&__img-2-shadow {
			top: 17dvh;
			right: -54.6dvh;

			img {
				width: 81.4dvh;
			}
		}

		&__img-3 {
			top: 53dvh;
			left: -10.3dvh;

			img {
				width: 30.9dvh;
				max-width: 176px;
			}
		}

		&__drop-1 {
			top: 47.5dvh;
			left: -11.9dvh;

			img {
				width: 19.3dvh;
			}
		}

		&__leaf-2 {
			top: 62dvh;
			left: -13dvh;

			img {
				width: 27.9dvh;
			}
		}

		&__leaf-3 {
			top: 6dvh;
			right: 4dvh;

			img {
				width: 17.4dvh;
			}
		}

		&__leaf-4 {
			top: 71dvh;
			right: -13dvh;

			img {
				width: 25dvh;
			}
		}
	}

	.cat {



		&__drop {
			top: 14.4dvh;
			right: -5.8dvh;

			img {
				width: 14.7dvh;
			}

		}

		&__slider {
			max-width: 300px;
		}

		&__slide {
			max-width: 285px;
		}

		&__arrows {
			top: 138px;
		}

		&__arrow {
			img {
				width: 12px;
			}

			// &-prev {
			// 	left: -14px;
			// }

			// &-next {
			// 	right: -14px;
			// }
		}
	}

	.footer {

		&__list-link {
			font-size: 15px;
		}

		&__column-phone {
			font-size: 28px;
		}

		&__column-text-small {
			font-size: 15px;
		}


		&__img-1 {
			top: -146px;
			right: 42px;

			img {
				width: 220px;
			}
		}

		&__img-2 {
			top: 375px;
			left: -23px;

			img {
				width: 170px;
			}
		}

	}
}


// /*==================================== HEIGHT ====================================*/


// /*------------------------------ 675 ------------------------------*/

@media (max-height: 675px) {
	.header {
		&__menu-list {
			margin-bottom: 30px;
		}

		&__menu-item {
			margin-bottom: 20px;
		}

		&__menu-link {
			font-size: 30px;
		}
	}
}

@media (max-height: 480px) {
	.header {

		&__menu-list {
			margin-bottom: 20px;
		}

		&__menu-link {
			font-size: 20px;
			font-weight: 500;
		}
	}
}