@import "reset";
@import "vars";
@import "mixins";
@import "fonts";


.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1150px;
	padding: 0 20px;
	margin: 0 auto;
	height: 100%;
}

.logo {
	padding-bottom: 30px;
}

.text {
	font-size: 2.8vh;
}

/*==================================== HEADER ====================================*/
/*==================================== HEADER ====================================*/

.header {
	position: fixed;
	z-index: 100;
	width: 100%;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}

	&__logo {
		position: absolute;
		top: 0px;
	}

	&__logo-rectangle {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0px;

		img {
			width: 39vh;
			max-width: 420px;
		}
	}

	&__logo-text {
		position: absolute;

		img {
			width: 26vh;
			max-width: 280px;
		}
	}

	&__button-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 160px;
		z-index: 100;
		position: absolute;
		right: 0;
		top: 6vh;
	}

	&__button-text {
		color: #FFF;
		font-family: "Gotham-Pro";
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		display: flex;
		align-items: center;
		justify-content: end;
		position: relative;
		margin-right: 40px;
		width: 100px;
		text-align: right;
		text-shadow: 0px 0px 2px#000;

		&-1 {
			position: absolute;

			&--open {
				visibility: hidden;
				opacity: 0;
			}
		}

		&-2 {
			position: absolute;
			visibility: hidden;
			opacity: 0;

			&--open {
				visibility: visible;
				opacity: 1;
			}
		}

	}

	&__button-burger {}


	&__overlay {
		position: absolute;
		background: rgba(255, 255, 255, 0.847);
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: 100vh;
		visibility: hidden;
		opacity: 0;
		transition: all .5s;
		z-index: -1;

		&--show {
			visibility: visible;
			opacity: 1;
		}
	}

	&__menu {
		padding: 20vh 20px 9vh;
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0;
		left: 0;
		height: 100vh;
		visibility: hidden;
		opacity: 0;
		transition: all .5s;

		&--open {
			visibility: visible;
			opacity: 1;
		}
	}

	&__menu-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	&__menu-list {
		text-align: center;
		margin-bottom: 8vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 1 auto;
	}

	&__menu-item {
		margin-bottom: 40px;
	}

	&__menu-link {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		font-size: 60px;
		font-style: normal;
		font-weight: 700;
		transition: all .3s;

		&:hover {
			text-decoration: underline;
		}
	}

	&__menu-socials {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		max-width: 400px;
		margin: 0 auto 2vh;
	}

	&__menu-socials-item {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	&__menu-socials-link {}

	&__menu-email {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 211.7%;
	}
}

.burger {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 40px;
	width: 65px;
	cursor: pointer;

	&__line {
		width: 100%;
		height: 2px;
		background: #fff;
		box-shadow: 0px 0px 2px #000;
		transition: all .3s;
	}

	&--open {
		.burger__line:first-child {
			transform: rotate(45deg) translateY(10px);
			width: 80px;

		}

		.burger__line:last-child {
			transform: rotate(-45deg) translateY(-10px);
			width: 80px;
		}
	}
}

/*==================================== HERO ====================================*/
/*==================================== HERO ====================================*/

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__heading {
		opacity: 0;
		animation: hero-heading 2s forwards;
		z-index: 99;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 90vh;
		}
	}

	@keyframes hero-heading {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	&__button {
		position: relative;
		z-index: 2;
		cursor: pointer;
		display: flex;
		align-items: center;
		max-width: 223px;
		margin: 30px auto 0;
		transition: all .3s;

	}

	&__button-icon {
		margin-right: 11px;
	}

	&__button-text {
		color: #fff;
		font-family: "Gotham-Pro";
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-decoration-line: underline;
	}

	&__bg {
		z-index: 0;
		transition: all .5s;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		object-fit: fill;
		background: #000;
		video {
			height: 100%;
		}
	}

	&__video {
		z-index: 0;
		transition: all .5s;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 0;
		object-fit: cover;
		background: #000;

		video {
			width: 100vw;
			height: 100vh;
		}


		&--off {
			visibility: hidden;
			opacity: 0;
			z-index: -100;
		}
	}

	&__bg-img {
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		z-index: -1;
		transform: translate(-50%, 0);
	}
}

/*==================================== MS ====================================*/
/*==================================== MS ====================================*/

.ms {
	background: radial-gradient(48.13% 48.13% at 50.04% 53.43%, rgba(255, 235, 182, 0.56) 0%, rgba(255, 235, 182, 0.00) 93.23%), #ff8e96;

	display: flex;
	align-items: center;
	position: relative;
	z-index: 0;

	&__drops1 {
		position: absolute;
		top: 38vh;
		left: -10vh;
	}

	&__drop1 {
		position: absolute;
		top: 3.2vh;
		left: -4.6vh;
		transition: all 1s .5s;
		transform: scale(0);
		transition: all .3s 0.5s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 4vh;
		}
	}

	&__drop2 {
		position: absolute;
		top: 0;
		left: 0;
		transition: all 1s 1s;
		transform: scale(0);
		transition: all .3s 1s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 7vh;
		}
	}

	&__drop3 {
		position: absolute;
		top: 4.9vh;
		left: 3.9vh;
		opacity: 0;
		transform: scale(0);
		transition: all .3s 1.5s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 3.4vh;
		}
	}

	&__drops2 {
		position: absolute;
		top: 70vh;
		left: 25vh;
	}

	&__drop4 {
		position: absolute;
		top: 3.2vh;
		left: -4.6vh;
		opacity: 0;
		transform: scale(0);
		transition: all .3s 1.5s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 4vh;
		}
	}

	&__drop5 {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transform: scale(0);
		transition: all .3s 1.7s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 7vh;
		}
	}

	&__drop6 {
		position: absolute;
		top: 5.2vh;
		left: 3.9vh;
		opacity: 0;
		transform: scale(0);
		transition: all .3s 2s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 3.4vh;
		}
	}

	&__img-left {
		position: absolute;
		z-index: -1;
		top: 27vh;
		left: -38vh;
		transition: all 1s;
		opacity: 0;
		transform: translate(-100px, 0);
	}

	&__inner {
		position: relative;
		z-index: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		max-width: 73vh;
		height: 100%;
		max-height: 80vh;
		padding-top: 17.5vh;
		padding-bottom: 50px;
	}

	&__heading {
		text-align: center;
		color: #FFF;
		font-family: Neris;
		font-size: 8vh;
		font-style: normal;
		font-weight: 900;
		line-height: 1;
		text-transform: uppercase;
		opacity: 0;
		transform: translate(0, 100px);
		transition: all .5s;
		padding-bottom: 5vh;

		.comma {
			display: inline;
		}

		span {
			display: flex;
			justify-content: end;
			font-size: 5vh;
			line-height: 3vh;
			text-align: right;
			transform: translate(100px, 0);
			text-transform: lowercase;
			margin-bottom: 12px;
		}
	}

	&__logo {
		opacity: 0;
		transform: scale(0);
		transition: all .5s;

		img {
			width: 42vh;
		}
	}

	&__text {
		color: #FFF;
		text-align: center;
		font-family: Neris;

		font-style: italic;
		font-weight: 300;
		line-height: normal;
		opacity: 0;
		transform: translate(0, 100px);
		transition: all .5s;
	}

	&__img-right {
		z-index: -1;
		position: absolute;
		right: -66vh;
		top: 20vh;
		transition: all 1s 1s;
		opacity: 0;
		transform: translate(100px, 0);
	}

	&__img1 {
		img {
			width: 48vh;
		}
	}

	&__img2 {
		img {
			width: 90vh;
		}
	}



	&__leaf-1 {
		position: absolute;
		top: -15vh;
		left: -9vh;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 37vh;
		}
	}

	&__leaf-2 {
		position: absolute;
		top: -7.2vh;
		left: 40vh;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 15.3vh;
		}
	}

	&__leaf-3 {
		position: absolute;
		top: 40vh;
		left: 16vh;
		z-index: 4;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 19.5vh;
		}
	}

	&__leaf-4 {
		z-index: -1;
		position: absolute;
		top: -1vh;
		right: 59vh;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 13.7vh;
		}
	}

	&__leaf-5 {
		z-index: 1;
		position: absolute;
		top: 59vh;
		left: 33vh;
		transition: opacity .3s 1s;
		opacity: 0;

		img {
			width: 24.4vh;
		}
	}
}


/*==================================== SS ====================================*/
/*==================================== SS ====================================*/

.ss {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 1;

	&__bg {
		position: absolute;
		z-index: 0;
		top: -27vh;
		bottom: -10vh;
		right: 0;
		left: 0;
		width: 100vw;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__bg2 {
		position: absolute;
		z-index: -1;
		top: 0vh;
		bottom: 0vh;
		right: 0;
		left: 0;
		width: 100vw;
		background: linear-gradient(#ff8e96 50%, #3996BC 50%);
	}

	&__inner {
		position: relative;
		z-index: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		max-width: 73vh;
		height: 100%;
		padding-top: 17.5vh;
		padding-bottom: 15vh;
	}

	&__leaf-1 {
		position: absolute;
		top: 12vh;
		left: -56.2vh;
		z-index: 0;
		transition: all 1s .3s;
		opacity: 0;
		transform: translate(-100px, 0px);

		img {
			width: 26.5vh;
		}
	}



	&__img1 {
		position: absolute;
		top: 18vh;
		left: -44vh;
		z-index: -1;
		transition: all 1s;
		opacity: 0;
		transform: translate(-100px, -100px);

		img {
			width: 61.7vh;
		}
	}

	&__img2 {
		position: absolute;
		top: 68vh;
		left: -37vh;
		z-index: -1;
		transition: all 1s .5s;
		opacity: 0;
		transform: translate(-100px, 100px);

		img {
			width: 39.4vh;
		}
	}

	&__logo {
		opacity: 0;
		transform: translate(0, 100px);
		transition: all 1s;

		img {
			width: 67.6vh;
		}
	}

	&__stamp {
		margin-bottom: 1.4vh;
		padding: 3vh;
		transition: all 1s;
		transform: scale(0);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		&-img {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

		}

		&-outline {
			position: absolute;
			animation: rotate 8s linear infinite;

			img {
				width: 14.9vh;
			}
		}

		&-border {
			position: absolute;
			animation: rotate 8s linear infinite;

			img {
				width: 13.4vh;
			}
		}

		&-content {
			position: absolute;
			top: -6.3vh;
			left: -6vh;
			z-index: 100;

			img {
				width: 9.7vh;
			}

			&:hover {
				animation: swing 0.6s ease;
			}
		}

		&-text {
			position: absolute;
			top: -2.9vh;
			left: -4.9vh;

			img {
				width: 10.84vh;
			}
		}
	}

	&__stamp-inner {
		transition: all 1s;
		transform: scale(0);
	}

	&__text {
		color: #225AAA;
		text-align: center;
		font-family: Neris;
		font-style: italic;
		font-weight: 300;
		line-height: normal;
		transition: all 1s;
		opacity: 0;
		transform: translate(0, 100px);
	}

	&__pelmen-1 {
		position: absolute;
		top: 21.8vh;
		right: -6.8vh;
		z-index: -1;
		transition: all .2s 2s linear;
		opacity: 0;
		transform: scale(0);
		transform: translate(4vh, 24vh);

		img {
			width: 9.9vh;
		}
	}


	&__pelmen-2 {
		position: absolute;
		top: 25.8vh;
		right: -19.8vh;
		z-index: -1;
		transition: all .2s 2.1s linear;
		opacity: 0;
		transform: scale(0);
		transform: translate(-6vh, 20vh);

		img {
			width: 12.4vh;
		}
	}

	&__img3 {
		position: absolute;
		top: 24vh;
		right: -60.8vh;
		z-index: -1;
		transition: all 1s 1s;
		opacity: 0;
		transform: translate(100px, 40px);

		img {
			width: 88vh;
		}
	}

	&__leaf-5 {
		position: absolute;
		top: 78.7vh;
		right: -7.6vh;
		z-index: -2;
		transition: all 1s 1.5s;
		opacity: 0;
		transform: translate(100px, -10px);

		img {
			width: 22.7vh;
		}
	}

	&__leaf-2 {
		position: absolute;
		top: 78.3vh;
		left: -37.4vh;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 55.4vh;
		}
	}

	&__leaf-3 {
		position: absolute;
		top: 38.5vh;
		right: -32vh;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 15.2vh;
		}
	}

	&__leaf-4 {
		position: absolute;
		top: 71vh;
		right: -41.8vh;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 16.5vh;
		}
	}
}


/*==================================== SM ====================================*/
/*==================================== SM ====================================*/


.sm {
	background: radial-gradient(48.13% 48.13% at 50.04% 53.43%, rgba(78, 199, 251, 0.69) 0%, rgba(41, 197, 246, 0.00) 90.31%), #3996BC;
	z-index: 0;
	position: relative;
	display: flex;
	align-items: center;

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		max-width: 73vh;
		height: 100%;
		padding-top: 17.5vh;
		padding-bottom: 15vh;
	}

	&__logo {
		opacity: 0;
		transform: translate(0, 100px);
		transition: all 1s;

		img {
			width: 67.6vh;
		}
	}

	&__stamp {
		margin-bottom: 5.4vh;
		padding: 3vh;
		transition: all 1s;
		transform: scale(0);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 100;

		&-img {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

		}

		&-outline {
			position: absolute;
			animation: rotate 8s linear infinite;

			img {
				width: 14.9vh;
			}
		}

		&-border {
			position: absolute;
			animation: rotate 8s linear infinite;

			img {
				width: 13.4vh;
			}
		}

		&-content {
			position: absolute;
			top: -6.3vh;
			left: -6vh;
			z-index: 100;

			img {
				width: 9.7vh;
			}

			&:hover {
				animation: swing 0.6s ease;
			}
		}

		&-text {
			position: absolute;
			top: -4.5vh;
			left: -5.7vh;

			img {
				width: 11.44vh;
			}
		}



	}

	&__stamp-inner {
		transition: all 1s;
		transform: scale(0);
	}

	&__text {
		color: #FFF;
		text-align: center;
		font-family: Neris;
		font-style: italic;
		font-weight: 300;
		line-height: normal;
		max-width: 730px;
		transition: all .5s;
		opacity: 0;
		transform: translate(0, 100px);
		z-index: 0;
	}

	&__img-1 {
		position: absolute;
		z-index: -1;
		transition: all 1s .5s;
		opacity: 0;
		transform: translate(-100px, -100px);
		top: 6vh;
		left: -40vh;

		img {
			width: 52.4vh;
		}
	}

	&__img-2 {
		position: absolute;
		z-index: -1;
		transition: all 1s 2s;
		opacity: 0;
		transform: translate(100px, 0);
		top: 0vh;
		right: -88.6vh;

		img {
			width: 105.2vh;
		}
	}

	&__img-2-shadow {
		mix-blend-mode: multiply;
		position: absolute;
		z-index: -2;
		transition: all 1s 2s;
		opacity: 0;
		transform: translate(100px, 0);
		top: 0vh;
		right: -88.6vh;

		img {
			width: 105.2vh;
		}
	}

	&__img-3 {
		position: absolute;
		z-index: -1;
		transition: all .5s;
		opacity: 0;
		transform: translate(-100px, 100px);
		z-index: -2;
		top: 54vh;
		left: -28vh;

		img {
			width: 44.9vh;
		}
	}

	&__drop-1 {
		position: absolute;
		z-index: -2;
		transition: all .3s 2s cubic-bezier(0.56, 1.67, 0.77, 1.67);
		transform: scale(0);
		z-index: -3;
		top: 45vh;
		left: -31vh;

		img {
			width: 25vh;
		}
	}

	&__leaf-1 {
		position: absolute;
		transition: opacity .5s 1s;
		opacity: 0;
		top: 28vh;
		left: -41vh;

		img {
			width: 14.8vh;
		}
	}

	&__leaf-2 {
		position: absolute;
		transition: opacity .5s 1s;
		opacity: 0;
		z-index: -1;
		top: 43vh;
		left: -4vh;

		img {
			width: 30.2vh;
		}
	}

	&__leaf-3 {
		position: absolute;
		transition: opacity .5s 1s;
		opacity: 0;
		top: 10vh;
		right: -8vh;

		img {
			width: 17.2vh;
		}
	}

	&__leaf-4 {
		position: absolute;
		transition: opacity .5s 1s;
		opacity: 0;
		z-index: -1;
		top: 61vh;
		right: -39vh;

		img {
			width: 35vh;
		}
	}
}


/*==================================== CAT ====================================*/
/*==================================== CAT ====================================*/

.cat {
	position: relative;

	&__bg {
		position: absolute;
		z-index: 0;
		top: -9vh;
		bottom: -10vh;
		right: 0;
		left: 0;
		width: 100vw;

		img {
			width: 100%;
			height: 100%;

		}
	}

	&__bg2 {
		position: absolute;
		z-index: -100;
		top: -20vh;
		bottom: -100px;
		right: 0;
		left: 0;
		width: 100vw;
		background: linear-gradient(#3996BC 50%, #fff 50%);
	}

	.container {
		max-width: 1280px;
	}

	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__drop {
		position: absolute;
		top: -3vh;
		right: -0.5vh;
		transform: scale(0);

		transition: all .5s 1s cubic-bezier(0.56, 1.67, 0.77, 1.67);

		img {
			width: 33vh;
		}
	}

	&__slider-outer {
		position: relative;
		opacity: 0;
		transform: translate(-1000px, 0);
		transition: all 1s;
	}

	&__arrows {
		position: relative;
		top: 135px;

	}

	&__arrow {
		cursor: pointer;
		position: absolute;
		top: 0px;
		z-index: 10;
	}

	&__arrow-prev {
		left: 0px;
	}

	&__arrow-next {
		right: 0px;
	}

	&__slider {
		max-width: 1110px;
		margin: 0 auto;
	}

	&__slide {
		cursor: pointer;
		padding: 10px;
	}

	&__slide-img {
		display: flex;
		justify-content: center;

		// align-items: center;
		margin-bottom: 7vh;

		img {
			width: 350px;
		}
	}

	&__slide-text {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		// font-size: 1.8vh;
		font-size: 23px;
		font-style: normal;
		font-weight: 400;
		line-height: 120.7%;
		max-width: 350px;
		margin: 0 auto;
	}

	&__dots {
		display: none;
	}

	&__dots .slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__dots li {
		margin-right: 12px;
	}

	&__dots li:last-child {
		margin-right: 0;
	}

	&__dots button {
		font-size: 0;
		background-color: transparent;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
	}

	&__dots button::before {
		content: "";
		height: 3px;
		width: 100%;
		background-color: #B3B7BC;
		border-radius: 3px;
	}

	&__dots .slick-active button::before {
		background-color: #424551;
		transition: all .3s;
	}

}

/*==================================== POP UP ====================================*/
/*==================================== POP UP ====================================*/


.cat {
	max-height: 100vh;

	&__pop-up {
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
		height: 100%;
		// display: none;

		&--active {
			visibility: visible;
			opacity: 1;
			// display: block;
		}
	}
}

.pop-up {

	&__slider {
		height: 100%;
	}

	&__slide {
		background: url('../img/6.cat/pop-up/pop-up-bg.png') no-repeat bottom / contain, #fff;
		padding: 4.6vh 10.3vh 5.6vh 10.5vh;
		transition: all .3s;
		display: none;
		font-family: "Gotham-Pro";
		color: #225AAA;
		font-style: normal;
		width: 100vw;
		height: 100%;

		&--active {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__slide-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__slide-image-box {
		// background: url('/img/6.cat/pop-up/pop-up-img-bg.png') no-repeat 0px 40px / contain;
		width: 536px;
		width: 50%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}

	&__slide-image {
		width: 100%;

		img {
			// width: 63.5vh;
			width: 100%;
		}
	}

	&__slide-body {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__slide-top {}

	&__slide-image-box--small {
		display: none;
	}

	&__slide-back {
		display: flex;
		align-items: center;
		margin-bottom: 3vh;
		cursor: pointer;
		transition: all .3s;

		&:active {
			transform: scale(.9);
		}
	}

	&__slide-content {
		margin-bottom: 1vh;
	}

	&__slide-arrow {
		img {
			width: 12.1vh;
		}
	}

	&__slide-link {
		margin-left: 22px;
		text-align: center;
		font-size: 1.9vh;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__slide-heading {
		font-size: 4.8vh;
		font-weight: 700;
		margin-bottom: 0.3vh;
		line-height: 48.28px;
		line-height: 5.8vh;
	}

	&__slide-subtitle {
		font-size: 2.9vh;
		font-weight: 700;
		margin-bottom: 1.1vh;
	}

	&__slide-gost {
		font-size: 2.2vh;
	}

	&__slide-info {
		font-weight: 400;
		margin-bottom: 1.4vh;
	}

	&__slide-icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__slide-animals {
		display: flex;
		align-items: center;
	}

	&__slide-icon {
		margin-right: 2vh;

		img {
			width: 9.8vh;
		}

	}

	&__slide-text {
		font-size: 2.2vh;
		font-weight: 400;
		margin-bottom: 1.2vh;

		&--small {
			font-size: 1.9vh;
		}

		span {
			font-size: 2.5vh;
			font-weight: 500;
		}
	}

	&__slide-arrows {
		display: flex;
		justify-content: space-between;
	}

	&__slide-arrow {
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: all .5s;

		&:active {
			transform: scale(.9);
		}

		img {
			width: 12.1vh;
		}
	}

	&__slide-arrow--prev {}

	&__slide-arrow--next {}

	&__slide-arrow-icon {
		margin-right: 22px;
	}

	&__slide-arrow-text {
		text-align: center;
		font-size: 1.9vh;
		font-weight: 400;
		text-transform: uppercase;
		margin-right: 22px;
	}
}

.pop-up-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #00000065;
	transition: all .3s;
	visibility: hidden;
	opacity: 0;
	z-index: 99;

	&--show {
		visibility: visible;
		opacity: 1;
	}
}


/*==================================== FOOTER ====================================*/
/*==================================== FOOTER ====================================*/

.footer {
	background: url('../img/7.footer/footer-bg.png') no-repeat center / 100% 100%;
	padding-top: 27vh;
	padding-bottom: 27vh;
	z-index: 2;
	position: relative;
	max-height: 640px;


	&__inner {
		display: flex;
		justify-content: space-between;
		position: relative;
		transition: all 1s;
		opacity: 0;
		transform: translate(0, 100px);
	}

	&__column {
		margin-right: 10px;

		&--first {
			display: flex;

			.footer__list {
				margin-right: 60px;
			}
		}
	}

	&__list {}

	&__list-item {}

	&__list-link {
		color: #225AAA;
		font-family: "Gotham-Pro";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 211.7%;
		text-decoration-line: underline;
	}

	&__column-text {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 211.7%;
	}

	&__column-phone {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		font-size: 30px;
		font-style: normal;
		font-weight: 400;
		line-height: 211.7%;
		margin-bottom: 5px;
	}

	&__column-email {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 211.7%;
	}

	&__socials-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 135px;
		margin: 40px auto;
	}

	&__socials-item {}

	&__socials-link {}

	&__img-1 {
		position: absolute;
		top: -30.4vh;
		right: 19vh;
		z-index: -1;
		opacity: 0;
		transition: all 1s 1s;
		transform: translate(-100px, 100px);

		img {
			width: 37.4vh;
		}
	}

	&__img-2 {
		position: absolute;
		top: 12.6vh;
		left: -7.3vh;
		z-index: -1;
		opacity: 0;
		transition: all 1s 1s;
		transform: translate(10px, 10px);

		img {
			width: 26.1vh;
		}
	}
}


/*==================================== PRELOADER ====================================*/
/*==================================== PRELOADER ====================================*/

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(255, 255, 255);
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;

	&__img {
		// height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		animation: scale .3s linear 0s forwards;
	}

	&__img-outline {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		animation: preloader 15s linear 0s infinite forwards;
	}

	&__img-border {
		position: absolute;
		animation: preloader 15s linear 0s infinite forwards;
	}

	&__img-content {
		position: absolute;
		top: -70px;
		left: -67px;
		transform-origin: right bottom;
		animation: content 3s ease 1s infinite;
	}

	&__img-text {
		position: absolute;
		top: -33px;
		left: -52px;
	}

	@keyframes preloader {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes scale {
		0% {
			transform: scale(0);
		}

		100% {
			transform: scale(2);
		}
	}

	@keyframes content {
		0% {
			transform: rotate(0deg);
		}

		10% {
			transform: rotate(-4deg);
		}

		20% {
			transform: rotate(4deg);
		}

		30% {
			transform: rotate(0deg);
		}

		100% {}
	}
}





/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/

@import "media";

/*==================================== ANIMATION ====================================*/
/*==================================== ANIMATION ====================================*/

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes magnify {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes swing {
	15% {
		transform: translateX(9px);
	}

	30% {
		transform: translateX(-9px);
	}

	40% {
		transform: translateX(6px);
	}

	50% {
		transform: translateX(-6px);
	}

	65% {
		transform: translateX(3px);
	}

	100% {
		transform: translateX(0);
	}
}

.anim-item--active {
	opacity: 1;
	transform: translate(0);
	transform: scale(1);
}