@import "reset";
@import "vars";
@import "mixins";
@import "fonts";


.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1150px;
	padding: 0 20px;
	margin: 0 auto;
	height: 100%;
}

.logo {
	padding-bottom: 2dvh;
}

.text {
	font-size: 2.8dvh;
}

.no-scroll {
	height: 100dvh;
	overflow: hidden;
}

/*==================================== HEADER ====================================*/
/*==================================== HEADER ====================================*/

.header {
	position: fixed;
	z-index: 100;
	width: 100%;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}

	&__logo {
		position: absolute;
		top: 0px;
	}

	&__logo-rectangle {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0px;

		img {
			width: 32.5dvh;
			// max-width: 420px;
		}
	}

	&__logo-text {
		position: absolute;

		img {
			width: 19dvh;
			// max-width: 280px;
		}
	}

	&__button-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 160px;
		z-index: 100;
		position: absolute;
		right: 0;
		top: 6dvh;
	}

	&__button-text {
		color: #FFF;
		font-family: "Gotham-Pro";
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		display: flex;
		align-items: center;
		justify-content: end;
		position: relative;
		margin-right: 40px;
		width: 100px;
		text-align: right;
		text-shadow: 0px 0px 2px#000;
		transition: all .3s;

		&-1 {
			position: absolute;

			&--open {
				visibility: hidden;
				opacity: 0;
			}
		}

		&-2 {
			position: absolute;
			visibility: hidden;
			opacity: 0;

			&--open {
				visibility: visible;
				opacity: 1;
				color: #225aaa;
			}
		}

	}

	&__overlay {
		position: absolute;
		background: rgba(255, 255, 255, 0.847);
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height: 100dvh;
		visibility: hidden;
		opacity: 0;
		transition: all .5s;
		z-index: -1;

		&--show {
			visibility: visible;
			opacity: 1;
		}
	}

	&__menu {
		padding: 20dvh 20px 9dvh;
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 0;
		left: 0;
		height: 100dvh;
		visibility: hidden;
		opacity: 0;
		transition: all .5s;

		&--open {
			visibility: visible;
			opacity: 1;
		}
	}

	&__menu-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	&__menu-list {
		text-align: center;
		margin-bottom: 8dvh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 1 auto;
	}

	&__menu-item {
		margin-bottom: 40px;
	}

	&__menu-link {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		font-size: 60px;
		font-style: normal;
		font-weight: 700;
		transition: all .3s;

		&:hover {
			text-decoration: underline;
		}
	}

	&__menu-socials {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		max-width: 400px;
		margin: 0 auto 2dvh;
	}

	&__menu-socials-item {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	&__menu-email {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 211.7%;
	}
}

.burger {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 40px;
	width: 65px;
	cursor: pointer;

	&__line {
		width: 100%;
		height: 2px;
		background: #fff;
		box-shadow: 0px 0px 2px #000;
		transition: all .3s;
	}

	&--open {
		.burger__line:first-child {
			transform: rotate(45deg) translateY(10px);
			width: 80px;
			background: #225aaa;
		}

		.burger__line:last-child {
			transform: rotate(-45deg) translateY(-10px);
			width: 80px;
			background: #225aaa;
		}
	}
}

/*==================================== HERO ====================================*/
/*==================================== HERO ====================================*/

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__heading {
		opacity: 0;
		animation: hero-heading 2s forwards;
		z-index: 99;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 90dvh;
		}
	}

	@keyframes hero-heading {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	&__button {
		position: relative;
		z-index: 2;
		cursor: pointer;
		display: flex;
		align-items: center;
		margin: 30px auto 0;
		transition: all .3s;

	}

	&__button-icon {
		margin-right: 11px;
	}

	&__button-text {
		color: #fff;
		font-family: "Gotham-Pro";
		font-size: 1.90dvh;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-decoration-line: underline;
	}

	&__bg {
		z-index: 0;
		transition: all .5s;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		object-fit: fill;
		background: #000;

		video {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__video {
		z-index: 0;
		transition: all .5s;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		bottom: 0;
		object-fit: cover;
		background: #000;

		video {
			width: 100vw;
			height: 100dvh;
		}


		&--off {
			visibility: hidden;
			opacity: 0;
			z-index: -100;
		}
	}

	&__bg-img {
		position: absolute;
		top: 0;
		left: 50%;
		bottom: 0;
		z-index: -1;
		transform: translate(-50%, 0);
	}
}

/*==================================== MS ====================================*/
/*==================================== MS ====================================*/

.ms {
	background: radial-gradient(48.13% 48.13% at 50.04% 53.43%, rgba(255, 235, 182, 0.56) 0%, rgba(255, 235, 182, 0.00) 93.23%), #ff8e96;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 0;

	&__drops1 {
		position: absolute;
		top: 38dvh;
		left: -10dvh;
	}

	&__drop1 {
		position: absolute;
		top: 3.2dvh;
		left: -4.6dvh;
		transition: all 1s .5s;
		transform: scale(0);
		transition: all .3s 0.5s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 4dvh;
		}
	}

	&__drop2 {
		position: absolute;
		top: 0;
		left: 0;
		transition: all 1s 1s;
		transform: scale(0);
		transition: all .3s 1s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 7dvh;
		}
	}

	&__drop3 {
		position: absolute;
		top: 4.9dvh;
		left: 3.9dvh;
		opacity: 0;
		transform: scale(0);
		transition: all .3s 1.5s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 3.4dvh;
		}
	}

	&__drops2 {
		position: absolute;
		top: 70dvh;
		left: 25dvh;
	}

	&__drop4 {
		position: absolute;
		top: 3.2dvh;
		left: -4.6dvh;
		opacity: 0;
		transform: scale(0);
		transition: all .3s 1.5s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 4dvh;
		}
	}

	&__drop5 {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transform: scale(0);
		transition: all .3s 1.7s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 7dvh;
		}
	}

	&__drop6 {
		position: absolute;
		top: 5.2dvh;
		left: 3.9dvh;
		opacity: 0;
		transform: scale(0);
		transition: all .3s 2s cubic-bezier(0.56, 1.67, 0.77, 2);

		img {
			width: 3.4dvh;
		}
	}

	&__img-left {
		position: absolute;
		z-index: -1;
		top: 27dvh;
		left: -38dvh;
		transition: all 1s;
		opacity: 0;
		transform: translate(-100px, 0);
	}

	&__inner {
		position: relative;
		z-index: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		max-width: 73dvh;
		height: 100%;
		max-height: 80dvh;
		padding-top: 15dvh;
		padding-bottom: 50px;
	}

	&__heading {
		text-align: center;
		color: #FFF;
		font-family: Neris;
		font-size: 8dvh;
		font-style: normal;
		font-weight: 900;
		line-height: 1;
		text-transform: uppercase;
		opacity: 0;
		transform: translate(0, 100px);
		transition: all .5s;
		padding-bottom: 5dvh;

		.comma {
			display: inline;
		}

		span {
			display: flex;
			justify-content: end;
			font-size: 5dvh;
			line-height: 3dvh;
			text-align: right;
			transform: translate(100px, 0);
			text-transform: lowercase;
			margin-bottom: 12px;
		}
	}

	&__logo {
		opacity: 0;
		transform: scale(0);
		transition: all .5s;

		img {
			width: 42dvh;
		}
	}

	&__text {
		color: #FFF;
		text-align: center;
		font-family: Neris;

		font-style: italic;
		font-weight: 300;
		line-height: normal;
		opacity: 0;
		transform: translate(0, 100px);
		transition: all .5s;
	}

	&__img-right {
		z-index: -1;
		position: absolute;
		right: -66dvh;
		top: 20dvh;
		transition: all 1s 1s;
		opacity: 0;
		transform: translate(100px, 0);
	}

	&__img1 {
		img {
			width: 48dvh;
		}
	}

	&__img2 {
		img {
			width: 90dvh;
		}
	}

	&__leaf-1 {
		position: absolute;
		top: -15dvh;
		left: -9dvh;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 37dvh;
		}
	}

	&__leaf-2 {
		position: absolute;
		top: -7.2dvh;
		left: 40dvh;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 15.3dvh;
		}
	}

	&__leaf-3 {
		position: absolute;
		top: 40dvh;
		left: 16dvh;
		z-index: 4;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 19.5dvh;
		}
	}

	&__leaf-4 {
		z-index: -1;
		position: absolute;
		top: -1dvh;
		right: 59dvh;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 13.7dvh;
		}
	}

	&__leaf-5 {
		z-index: 1;
		position: absolute;
		top: 59dvh;
		left: 33dvh;
		transition: opacity .3s 1s;
		opacity: 0;

		img {
			width: 24.4dvh;
		}
	}
}


/*==================================== SS ====================================*/
/*==================================== SS ====================================*/

.ss {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 1;

	&__bg {
		position: absolute;
		z-index: 0;
		top: -27dvh;
		bottom: -10dvh;
		right: 0;
		left: 0;
		width: 100vw;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__bg2 {
		position: absolute;
		z-index: -1;
		top: 0dvh;
		bottom: 0dvh;
		right: 0;
		left: 0;
		width: 100vw;
		background: linear-gradient(#ff8e96 50%, #3996BC 50%);
	}

	&__bg3 {
		position: absolute;
		width: 678.558px;
		height: 678.558px;
		border-radius: 678.558px;
		background: radial-gradient(40.82% 41.08% at 50.03% 50.03%, #FFE072 26.23%, rgba(255, 235, 182, 0.00) 92.95%);
		background-blend-mode: multiply;
	}

	&__inner {
		position: relative;
		z-index: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		max-width: 69.2dvh;
		height: 100%;
		padding-top: 15dvh;
		padding-bottom: 15dvh;
	}

	&__leaf-1 {
		position: absolute;
		top: 12dvh;
		left: -56.2dvh;
		z-index: 0;
		transition: all 1s .3s;
		opacity: 0;
		transform: translate(-100px, 0px);

		img {
			width: 26.5dvh;
		}
	}

	&__img1 {
		position: absolute;
		top: 18dvh;
		left: -44dvh;
		z-index: -1;
		transition: all 1s;
		opacity: 0;
		transform: translate(-100px, -100px);

		img {
			width: 61.7dvh;
		}
	}

	&__img2 {
		position: absolute;
		top: 68dvh;
		left: -37dvh;
		z-index: -1;
		transition: all 1s .5s;
		opacity: 0;
		transform: translate(-100px, 100px);

		img {
			width: 39.4dvh;
		}
	}

	&__logo {
		opacity: 0;
		transform: translate(0, 100px);
		transition: all 1s;

		img {
			width: 67.6dvh;
		}
	}

	&__stamp {
		margin-bottom: 1.4dvh;
		padding: 3dvh;
		transition: all 1s;
		transform: scale(0);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		&-img {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

		}

		&-outline {
			position: absolute;
			animation: rotate 8s linear infinite;

			img {
				width: 14.9dvh;
			}
		}

		&-border {
			position: absolute;
			animation: rotate 10s linear infinite;

			img {
				width: 13.9dvh;
			}
		}

		&-content {
			position: absolute;
			top: -6.3dvh;
			left: -6dvh;
			z-index: 100;

			img {
				width: 9.7dvh;
			}

			&:hover {
				animation: swing 0.6s ease;
			}
		}

		&-text {
			position: absolute;
			top: -2.9dvh;
			left: -4.9dvh;

			img {
				width: 10.84dvh;
			}
		}
	}

	&__stamp-inner {
		transition: all 1s;
		transform: scale(0);
	}

	&__text {
		color: #225AAA;
		text-align: center;
		font-family: Neris;
		font-style: italic;
		font-weight: 300;
		line-height: normal;
		transition: all 1s;
		opacity: 0;
		transform: translate(0, 100px);
	}

	&__pelmen-1 {
		position: absolute;
		top: 21.8dvh;
		right: -6.8dvh;
		z-index: -1;
		transition: all .2s 2s linear;
		opacity: 0;
		transform: scale(0);
		transform: translate(4dvh, 24dvh);

		img {
			width: 9.9dvh;
		}
	}


	&__pelmen-2 {
		position: absolute;
		top: 25.8dvh;
		right: -19.8dvh;
		z-index: -1;
		transition: all .2s 2.1s linear;
		opacity: 0;
		transform: scale(0);
		transform: translate(-6dvh, 20dvh);

		img {
			width: 12.4dvh;
		}
	}

	&__img3 {
		position: absolute;
		top: 23dvh;
		right: -64.1dvh;
		z-index: -1;
		transition: all 1s 1s;
		opacity: 0;
		transform: translate(100px, 40px);

		img {
			width: 88dvh;
		}
	}

	&__leaf-5 {
		position: absolute;
		top: 73.7dvh;
		right: -7.6dvh;
		z-index: -2;
		transition: all 1s 1.5s;
		opacity: 0;
		transform: translate(100px, -10px);

		img {
			width: 22.7dvh;
		}
	}

	&__leaf-2 {
		position: absolute;
		top: 78.3dvh;
		left: -37.4dvh;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 55.4dvh;
		}
	}

	&__leaf-3 {
		position: absolute;
		top: 38.5dvh;
		right: -32dvh;
		transition: opacity .5s 1s;
		opacity: 0;
		z-index: 2;

		img {
			width: 15.2dvh;
		}
	}

	&__leaf-4 {
		position: absolute;
		top: 71dvh;
		right: -41.8dvh;
		transition: opacity .5s 1s;
		opacity: 0;

		img {
			width: 16.5dvh;
		}
	}
}


/*==================================== SM ====================================*/
/*==================================== SM ====================================*/


.sm {
	background: radial-gradient(48.13% 48.13% at 50.04% 53.43%, rgba(78, 199, 251, 0.69) 0%, rgba(41, 197, 246, 0.00) 90.31%), #3996BC;
	z-index: 0;
	position: relative;
	display: flex;
	align-items: center;

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		max-width: 67.6dvh;
		height: 100%;
		padding-top: 22.5dvh;
		padding-bottom: 7dvh;
	}

	&__logo {
		opacity: 0;
		transform: translate(0, 100px);
		transition: all 1s;

		img {
			width: 67.6dvh;
		}
	}

	&__stamp {
		margin-bottom: 5.4dvh;
		padding: 3dvh;
		transition: all 1s;
		transform: scale(0);
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 100;

		&-img {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

		}

		&-outline {
			position: absolute;
			animation: rotate 8s linear infinite;

			img {
				width: 14.9dvh;
			}
		}

		&-border {
			position: absolute;
			animation: rotate 10s linear infinite;

			img {
				width: 13.9dvh;
			}
		}

		&-content {
			position: absolute;
			top: -6.3dvh;
			left: -6dvh;
			z-index: 100;

			img {
				width: 9.7dvh;
			}

			&:hover {
				animation: swing 0.6s ease;
			}
		}

		&-text {
			position: absolute;
			top: -4.5dvh;
			left: -5.7dvh;

			img {
				width: 11.44dvh;
			}
		}
	}

	&__stamp-inner {
		transition: all 1s;
		transform: scale(0);
	}

	&__text {
		color: #FFF;
		text-align: center;
		font-family: Neris;
		font-style: italic;
		font-weight: 300;
		line-height: normal;
		max-width: 730px;
		transition: all .5s;
		opacity: 0;
		transform: translate(0, 100px);
		z-index: 0;
	}

	&__img-1 {
		position: absolute;
		z-index: -1;
		transition: all 1s .5s;
		opacity: 0;
		transform: translate(-100px, -100px);
		top: 11dvh;
		left: -38dvh;

		img {
			width: 52.4dvh;
		}
	}

	&__img-2 {
		position: absolute;
		z-index: -1;
		transition: all 1s 2s;
		opacity: 0;
		transform: translate(100px, 0);
		top: 0dvh;
		right: -88.6dvh;

		img {
			width: 105.2dvh;
		}
	}

	&__img-2-shadow {
		mix-blend-mode: multiply;
		position: absolute;
		z-index: -2;
		transition: all 1s 2s;
		opacity: 0;
		transform: translate(100px, 0);
		top: 0dvh;
		right: -88.6dvh;

		img {
			width: 105.2dvh;
		}
	}

	&__img-3 {
		position: absolute;
		z-index: -1;
		transition: all .5s;
		opacity: 0;
		transform: translate(-100px, 100px);
		z-index: -2;
		top: 56dvh;
		left: -30dvh;

		img {
			width: 44.9dvh;
		}
	}

	&__drop-1 {
		position: absolute;
		z-index: -2;
		transition: all .3s 2s cubic-bezier(0.56, 1.67, 0.77, 1.67);
		transform: scale(0);
		z-index: -3;
		top: 49.1dvh;
		left: -30.1dvh;

		img {
			width: 25dvh;
		}
	}

	&__leaf-1 {
		position: absolute;
		transition: opacity .5s 1s;
		opacity: 0;
		top: 33dvh;
		left: -39dvh;

		img {
			width: 14.8dvh;
		}
	}

	&__leaf-2 {
		position: absolute;
		transition: opacity .5s 1s;
		opacity: 0;
		z-index: -1;
		top: 52dvh;
		left: -4dvh;

		img {
			width: 30.2dvh;
		}
	}

	&__leaf-3 {
		position: absolute;
		transition: opacity .5s 1s;
		opacity: 0;
		top: 10dvh;
		right: -8dvh;

		img {
			width: 17.2dvh;
		}
	}

	&__leaf-4 {
		position: absolute;
		transition: opacity .5s 1s;
		opacity: 0;
		z-index: -1;
		top: 61dvh;
		right: -39dvh;

		img {
			width: 35dvh;
		}
	}
}


/*==================================== CAT ====================================*/
/*==================================== CAT ====================================*/

.cat {
	position: relative;

	&__bg {
		position: absolute;
		z-index: 0;
		top: -0.7dvh;
		right: 0;
		bottom: 0;
		width: 100vw;
		
		img {
			background-image: linear-gradient(#3996BC 50%, #fff 50%);
			position: absolute;
			right: 0;
			width: 100%;
		}

		&-mob {
			display: none;
		}
	}

	&__bg2 {
		position: absolute;
		z-index: -100;
		top: -20dvh;
		bottom: -100px;
		right: 0;
		left: 0;
		width: 100vw;
		background: linear-gradient(#3996BC 58dvh, #fff 20dvh);
	}

	.container {
		max-width: 1280px;
	}

	&__inner {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 14dvh;
	}

	&__drop {
		position: absolute;
		top: 1.6dvh;
		right: -4.2dvh;
		transform: scale(0);
		transition: all .5s 1s cubic-bezier(0.56, 1.67, 0.77, 1.67);

		img {
			// width: 31.3dvh;
			display: block;
			transform: rotate(2deg);
		}
	}

	&__slider-outer {
		position: relative;
		opacity: 0;
		transform: translate(-1000px, 0);
		transition: all 1s;
	}

	&__arrows {
		position: relative;
		top: 135px;

	}

	&__arrow {
		cursor: pointer;
		position: absolute;
		top: 0px;
		z-index: 10;
	}

	&__arrow-prev {
		left: 0px;
	}

	&__arrow-next {
		right: 0px;
	}

	&__slider {
		max-width: 1110px;
		margin: 0 auto;
	}

	&__slide {
		cursor: pointer;
		padding: 10px;
	}

	&__slide-img {
		display: flex;
		justify-content: center;
		margin-bottom: 7dvh;

		img {
			width: 350px;
		}
	}

	&__slide-text {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		font-size: 23px;
		font-style: normal;
		font-weight: 400;
		line-height: 120.7%;
		max-width: 350px;
		margin: 0 auto;
	}

	&__dots {
		display: none;
	}

	&__dots .slick-dots {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__dots li {
		margin-right: 12px;
	}

	&__dots li:last-child {
		margin-right: 0;
	}

	&__dots button {
		font-size: 0;
		background-color: transparent;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
	}

	&__dots button::before {
		content: "";
		height: 3px;
		width: 100%;
		background-color: #B3B7BC;
		border-radius: 3px;
	}

	&__dots .slick-active button::before {
		background-color: #424551;
		transition: all .3s;
	}

}

/*==================================== POP UP ====================================*/
/*==================================== POP UP ====================================*/


.cat {
	max-height: 100dvh;

	&__pop-up {
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
		height: 100%;

		&--active {
			visibility: visible;
			opacity: 1;
		}
	}
}

.pop-up {

	&__slider {
		height: 100%;
	}

	&__slide {
		background: #fff;
		// padding: clamp(1px, 7.6dvh, 63px) clamp(10px, 4dvh, 104px) clamp(1px, 4dvh, 63px) clamp(10px, 4dvh, 104px);
		padding: 4dvh;

		transition: all .3s;
		display: none;
		font-family: "Gotham-Pro";
		color: #225AAA;
		font-style: normal;
		width: 100vw;
		height: 100%;
		position: relative;
		overflow: hidden;
		flex-direction: column;
		justify-content: space-between;

		&--active {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__slide-bg {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -11dvh;
		z-index: 99;

		img {
			width: 100vw;
			// object-fit: contain;
		}
	}

	&__slide-branch {
		position: absolute;
		bottom: -11dvh;
		right: 11dvh;
		z-index: 100;

		img {
			width: 48.6dvh;
		}
	}

	&__slide-inner {

		display: grid;
		grid-template-areas: "image top"
			"image info";
		margin: auto;
		position: relative;
		z-index: 101;
	}

	&__slide-image-box-inner {
		position: relative;
		grid-area: image;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 6dvh;
	}

	&__slide-image-box {
		width: clamp(1px, 80dvh, 45vw);
	}

	&__slide-image-arrows {
		position: absolute;
		top: 40%;
		display: flex;
		width: 100%;
	}

	&__slide-image-arrow {
		position: absolute;
		cursor: pointer;
		transition: all .5s;

		&:active {
			transform: scale(.5);
		}

		img {
			width: clamp(1px, 2.6dvh, 22px);
		}

		&--prev {
			left: -30px;
		}

		&--next {
			right: -30px;
		}

	}

	&__slide-image {
		width: clamp(1px, 80dvh, 45vw);
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100%;

		img {
			width: 100%;
			margin: 0 auto;
		}

		&-1 {
			background: url('../img/6.cat/pop-up/bg-pink.png') no-repeat top/ contain;
		}

		&-2 {
			background: url('../img/6.cat/pop-up/bg-blue.png') no-repeat 0 top / contain;
		}

		&-3 {
			background: url('../img/6.cat/pop-up/bg-yellow.png') no-repeat 0 top / contain;
		}

		&-4 {
			background: url('../img/6.cat/pop-up/bg-pink.png') no-repeat 0 top /contain;
		}

		&-5 {
			background: url('../img/6.cat/pop-up/bg-pink.png') no-repeat 0 top /contain;
		}

		&-6 {
			background: url('../img/6.cat/pop-up/bg-green.png') no-repeat 0 top / contain;
		}

		&-7 {
			background: url('../img/6.cat/pop-up/bg-blue.png') no-repeat 0 top / contain;
		}

		&-8 {
			background: url('../img/6.cat/pop-up/bg-yellow.png') no-repeat 0 top / contain;
		}

		&-9 {
			background: url('../img/6.cat/pop-up/bg-pink.png') no-repeat 0 top / contain;
		}
	}

	&__slide-weight {
		text-align: center;
		margin-top: 8dvh;
		font-size: 2.9dvh;

	}

	&__slide-top {
		grid-area: top;
		max-width: 41vw;
	}

	&__slide-back {
		display: flex;
		align-items: center;
		margin-bottom: 3dvh;
		cursor: pointer;
		transition: all .3s;

		&:active {
			transform: scale(.9);
		}
	}

	&__slide-close {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		width: 6dvh;
		height: 6dvh;

		&-line {
			width: 6dvh;
			height: 0.2dvh;
			background: #225aaa;
			position: absolute;

			&:first-child {
				transform: rotate(45deg);
			}

			&:last-child {
				transform: rotate(-45deg);
			}
		}
	}

	&__slide-content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 2dvh;
	}

	&__slide-arrow {
		img {
			width: 12.1dvh;
			max-width: 100px;
		}
	}

	&__slide-link {
		margin-left: 22px;
		text-align: center;
		font-size: clamp(1px, 1.9dvh, 16px);
		font-weight: 400;
		text-transform: uppercase;
	}

	&__slide-heading {
		font-size: clamp(1px, 4.8dvh, 40px);
		font-weight: 700;
		margin-bottom: 0.3dvh;
		line-height: 48.28px;
		line-height: 5.8dvh;
	}

	&__slide-subtitle {
		font-size: clamp(1px, 2.9dvh, 24px);
		font-weight: 700;
		margin-bottom: 1.1dvh;
	}

	&__slide-gost {
		font-size: clamp(1px, 2.2dvh, 18px);
		margin-bottom: 1dvh;
	}

	&__slide-info {
		font-weight: 400;
		grid-area: info;
		display: flex;
		flex-direction: column;
		max-width: 41vw;
	}

	&__slide-icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: -1dvh;
		margin-bottom: 1dvh;
	}

	&__slide-animals {
		display: flex;
		align-items: center;
		margin-left: 5dvh;

		.pop-up__slide-icon {
			margin-right: 5dvh;
		}
	}

	&__slide-icon {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
			max-width: 9.8dvh;
		}

		&--weight {
			img {
				width: 100%;
				max-width: 17.2dvh;
			}
		}

		&-text {
			position: absolute;
			text-align: center;
			font-size: clamp(1px, 1.9dvh, 16px);
			font-style: normal;
			font-weight: 400;
			line-height: 120.7%;
			margin-top: 6dvh;

			span {
				font-size: clamp(1px, 2.1dvh, 18px);
				line-height: 4dvh;
			}
		}

	}

	&__slide-text {
		font-size: clamp(1px, 2.2dvh, 18px);
		font-weight: 400;
		margin-bottom: 2dvh;

		span {
			font-size: clamp(1px, 2.5dvh, 20px);
			font-weight: 500;
		}
	}

	&__slide-arrows {
		display: flex;
		justify-content: space-between;
		width: 100%;
		// flex: 1 0 10dvh;
	}

	&__slide-arrow {
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: all .5s;

		&:active {
			transform: scale(.9);
		}

		img {
			width: 12.1dvh;
			max-width: 100px;
		}
	}

	&__slide-arrow-icon {
		margin-right: 22px;
	}

	&__slide-arrow-text {
		text-align: center;
		font-size: clamp(1px, 1.9dvh, 16px);
		font-weight: 400;
		text-transform: uppercase;
		margin-right: 22px;
	}
}

.pop-up-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #00000065;
	transition: all .3s;
	visibility: hidden;
	opacity: 0;
	z-index: 99;

	&--show {
		visibility: visible;
		opacity: 1;
	}
}


/*==================================== FOOTER ====================================*/
/*==================================== FOOTER ====================================*/

.footer {
	background: url('../img/7.footer/footer-bg.png') no-repeat center / 100% 100%;
	padding-top: 31dvh;
	padding-bottom: 27dvh;
	z-index: 3;
	position: relative;
	max-height: 727px;
	overflow: hidden;

	&__inner {
		// height: 100%;
		display: flex;
		justify-content: space-between;
		position: relative;
		transition: all 1s;
		opacity: 0;
		transform: translate(0, 100px);
	}

	&__column {
		margin-right: 10px;

		&--first {
			display: flex;

			.footer__list {
				margin-right: 60px;
			}
		}
	}

	&__list-link {
		color: #225AAA;
		font-family: "Gotham-Pro";
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 211.7%;
		text-decoration-line: underline;
	}

	&__column-text {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 211.7%;
	}

	&__column-phone {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		font-size: 30px;
		font-style: normal;
		font-weight: 400;
		line-height: 211.7%;
		margin-bottom: 5px;
	}

	&__column-email {
		color: #225AAA;
		text-align: center;
		font-family: "Gotham-Pro";
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 211.7%;
	}

	&__socials-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 135px;
		margin: 40px auto;
	}

	&__img-1 {
		position: absolute;
		top: -30.4dvh;
		right: 19dvh;
		z-index: -1;
		opacity: 0;
		transition: all 1s 1s;
		transform: translate(-100px, 100px);

		img {
			width: 37.4dvh;
		}
	}

	&__img-2 {
		position: absolute;
		top: 9.6dvh;
		left: -6.3dvh;
		z-index: -1;
		opacity: 0;
		transition: all 1s 1s;
		transform: translate(10px, 10px);

		img {
			width: 26.1dvh;
		}
	}
}


/*==================================== PRELOADER ====================================*/
/*==================================== PRELOADER ====================================*/

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(255, 255, 255);
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		animation: scale .3s linear 0s forwards;
		border: 1px solid black;
	}

	&__img-outline {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		animation: preloader 15s linear 0s infinite forwards;
	}

	&__img-border {
		position: absolute;
		animation: preloader 15s linear 0s infinite forwards;
	}

	&__img-content {
		position: absolute;
		top: -70px;
		left: -67px;
		transform-origin: right bottom;
		animation: content 3s ease 1s infinite;
	}

	&__img-text {
		position: absolute;
		top: -33px;
		left: -52px;
	}

	@keyframes preloader {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes scale {
		0% {
			transform: scale(0);
		}

		100% {
			transform: scale(1);
		}
	}

	@keyframes content {
		0% {
			transform: rotate(0deg);
		}

		10% {
			transform: rotate(-4deg);
		}

		20% {
			transform: rotate(4deg);
		}

		30% {
			transform: rotate(0deg);
		}

		100% {}
	}
}





/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/

@import "media";

/*==================================== ANIMATION ====================================*/
/*==================================== ANIMATION ====================================*/

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes magnify {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes swing {
	15% {
		transform: translateX(9px);
	}

	30% {
		transform: translateX(-9px);
	}

	40% {
		transform: translateX(6px);
	}

	50% {
		transform: translateX(-6px);
	}

	65% {
		transform: translateX(3px);
	}

	100% {
		transform: translateX(0);
	}
}

.anim-item--active {
	opacity: 1;
	transform: translate(0);
	transform: scale(1);
}